<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>mypage-order-list</title>
</head>
<body>
    <!-- mypage header fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="'주문목록'"></h1>
                        <ul class="breadcrumb">
                            <li><a href="#" th:id="goBack">mypage</a></li>
                            <li class="active">order</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- order List -->
    <div class="page-section section pt-120 pb-80">
        <div class="container">
            <div class="row">
                <form action="#">
                    <div class="col-xs-12">
                        <div class="wishlist-table table-responsive mb-40">
                            <table>
                                <thead>
                                <tr>
                                    <th class="pro-stock-stauts">주문일자</th>
                                    <th class="pro-title">주문번호</th>
                                    <th class="pro-title">주문세부</th>
                                    <th class="pro-title">결재상태</th>
                                    <th class="pro-price">결제금액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orderList.getList()}">
                                    <td class="pro-stock-stauts" th:text="${order.orderDate}"></td>
                                    <td class="pro-title">[[${order.ono}]]</td>
                                    <td class="pro-title">
                                        <a th:href="@{/sw/mypage/order/read(ono=${order.ono})}">[[조회]]</a>
                                    </td>
                                    <td class="pro-title" th:text="${order.tPayStatus}"></td>
                                    <td class="pro-price" th:text="${order.tTotalPrice}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <div>
                <!-- Paging bootstrap -->
<!--                <ul class="pagination h-100 justify-content-center align-items-center">-->
<!--                    &lt;!&ndash; getPrePage : 이전 페이지 &ndash;&gt;-->
<!--                    <li class="page-item" th:classappend="${orderList.getPrePage() == 0} ? 'disabled'">-->
<!--                        <a class="page-link" th:href="@{/sw/mypage/order/list(pageNum=${orderList.getPrePage()}, mno=${mno})}">Previous</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:each="page: ${#numbers.sequence(orderList.getNavigateFirstPage(), orderList.getNavigateLastPage())}" th:classappend="${page == orderList.getPageNum()} ? 'active'">-->
<!--                        <a class="page-link" th:text="${page}" th:href="@{/sw/mypage/order/list(pageNum=${page}, mno=${mno})}"></a>-->
<!--                    </li>-->
<!--                    &lt;!&ndash; getPrePage : 다음 페이지 &ndash;&gt;-->
<!--                    <li class="page-item" th:classappend="${orderList.getNextPage() == 0} ? 'disabled'">-->
<!--                        <a class="page-link" th:href="@{/sw/mypage/order/list(pageNum=${orderList.getNextPage()}, mno=${mno})}">Next</a>-->
<!--                    </li>-->
<!--                </ul>-->
                <!-- Paging custom -->
                <div class="paginationC clearfix">
                    <!-- 이전 버튼 -->
                    <li th:if="${orderList.getPrePage() != 0}">
                        <a th:href="@{/sw/mypage/order/list(pageNum=${orderList.getPrePage()}, mno=${mno})}">Previous</a>
                    </li>
                    <li th:if="${orderList.getPrePage() == 0}">
                        <a>Previous</a>
                    </li>
                    <!-- 페이지 번호-->
                    <li th:each="page: ${#numbers.sequence(orderList.getNavigateFirstPage(), orderList.getNavigateLastPage())}" th:classappend="${page == orderList.getPageNum()} ? 'active'">
                        <a th:text="${page}" th:href="@{/sw/mypage/order/list(pageNum=${page}, mno=${mno})}"></a>
                    </li>
                    <!-- 다음 버튼-->
                    <li th:if="${orderList.getNextPage() != 0}">
                        <a th:href="@{/sw/mypage/order/list(pageNum=${orderList.getNextPage()}, mno=${mno})}">Next</a>
                    </li>
                    <li th:if="${orderList.getNextPage() == 0}">
                        <a>Next</a>
                    </li>
                    <p>현재페이지[[${pageNum}]]</p>
                </div>
            </div>
        </div>

    </div>
</body>
<!-- hidden Data -->
<input type="hidden" name="mno" th:value="${mno}">

<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>

<script>
    $(document).ready(function (){

        // Mypage 메인으로 돌아가기 버튼 클릭하면 동작
        $("#goBack").click(function (){
            var mno = $("input[name=mno]").val();
            window.location.href = '/sw/mypage/main?mno='+mno;
        })
    })
</script>
</html>