<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>마이페이지-주문목록</h2>

    <!-- Cart -->
    <h3>주문 목록</h3>
        <table id="orderTable">
            <thead>
                <tr>
                    <th>주문일시</th>
                    <th>주문번호</th>
                    <th>결재상태</th>
                    <th>배송상태</th>
                    <th>상품명</th>
                    <th>총 결제금액</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.orderDate}"></td>
                    <td><a th:href="@{/sw/mypage/order/read(ono=${order.ono})}" th:text="${order.ono}"></a></td>
                    <td th:text="${order.payStatus}"></td>
                    <td th:text="${order.deliveryStatus}"></td>
                    <td th:text="${order.p_name}"></td>
                    <td th:text="${order.totalPrice}"></td>

                    <!-- 배송조회 관련 controller 전송용 form -->
                    <td>
                        <form th:action="@{/sw/mypage/order/delivery}" th:method="get">
                            <input type="hidden" name="ono" th:value="${order.ono}" readonly>
                            <input type="submit" value="배송조회">
                        </form>
                    </td>

                    <!-- 취소/반품/교환 관련 controller 전송용 form(미완성) -->
                    <td>
                        <form th:action="@{/sw/mypage/order/exchange}" th:method="get">
                            <input type="hidden" name="mno" th:value="${order.mno}" readonly>
                            <input type="hidden" name="ono" th:value="${order.ono}" readonly>
                            <input type="hidden" name="p_no" th:value="${order.p_no}" readonly>
                            <input type="hidden" name="pno" th:value="${order.pno}" readonly>
                            <input type="submit" value="취소/반품/교환 신청">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    <hr/>
    <!-- Mypage 메인으로 돌아가기 버튼 -->
    <button class="button" th:class="goBack">마이페이지 메인으로 돌아가기</button>
</body>
<script>
    $(document).ready(function (){
        // Mypage 메인으로 돌아가기 버튼 클릭하면 동작
        $(".goBack").click(function (){
            var mno = $("input[name=mno]").val();
            window.location.href = '/sw/mypage/main?mno='+mno;
        })
    })
</script>
</html>