<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- mypage head fragment -->
  <th:block th:replace="fragments/common/header :: head"></th:block>
  <title>ADMIN MAIN</title>
</head>

<!-- 그래프용 style -->
<style>
  #chartdiv {
    width: 100%;
    height: 300px;
  }
</style>

<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/common/header :: headerFragment"></th:block>

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-banner-content">
          <h1 th:text="'관리자페이지'"></h1>
          <ul class="breadcrumb">
            <li><a th:id="goBack"></a></li>
            <li class="active">Admin Page</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List -->
<div class="page-section section pt-120"> <!-- class: pb-120 지움 -->
  <div class="container">
    <div class="isotope-grid row">

      <!-- 총 매출 -->
      <div class="isotope-item ptable col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
        <div class="product-item product-item-2 text-center">
          <!-- Menu Image -->
          <div class="product-img">
            <!-- Image -->
            <a class="image" th:href="@{/templates/mypage/interest/list(mno=${mno})}">
              <img src="/icons_bootstrap/heart.svg" height="80" alt="">
            </a>
          </div>
          <!-- Menu Info -->
          <div class="product-info">
            <h5 class="title">총 매출액</h5>
            <p data-th-text="${#numbers.formatInteger(profit, 3, 'COMMA') + ' 원'}"></p>
          </div>
        </div>
      </div>

      <!-- 총 회원수 -->
      <div class="isotope-item ptable col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
        <div class="product-item product-item-2 text-center">
          <!-- Menu Image -->
          <div class="product-img">
            <!-- Image -->
            <a class="image" th:href="@{/templates/mypage/interest/list(mno=${mno})}">
              <img src="/icons_bootstrap/heart.svg" height="80" alt="">
            </a>
          </div>
          <!-- Menu Info -->
          <div class="product-info">
            <h5 class="title">총 회원수</h5>
            <p>[[${memberCnt}]]명</p>
          </div>
        </div>
      </div>

      <!-- 총 탈퇴회원수 -->
      <div class="isotope-item ptable col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
        <div class="product-item product-item-2 text-center">
          <!-- Menu Image -->
          <div class="product-img">
            <!-- Image -->
            <a class="image" th:href="@{/templates/mypage/interest/list(mno=${mno})}">
              <img src="/icons_bootstrap/heart.svg" height="80" alt="">
            </a>
          </div>
          <!-- Menu Info -->
          <div class="product-info">
            <h5 class="title">총 탈퇴회원수</h5>
            <p>[[${delMemCnt}]]명</p>
          </div>
        </div>
      </div>

      <!-- 총 판매 상품 개수 -->
      <div class="isotope-item ptable col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
        <div class="product-item product-item-2 text-center">
          <!-- Menu Image -->
          <div class="product-img">
            <!-- Image -->
            <a class="image" th:href="@{/templates/mypage/interest/list(mno=${mno})}">
              <img src="/icons_bootstrap/heart.svg" height="80" alt="">
            </a>
          </div>
          <!-- Menu Info -->
          <div class="product-info">
            <h5 class="title">총 판매 상품개수</h5>
            <p>[[${productCnt}]]개</p>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<!-- 페이지 진입한 회원의 mno (hidden) -->
<input type="hidden" th:name="mno" th:value="${mno}">

</body>


<!-- 카카오지도 API & 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a47cc80dbbabed24ab87dc231f336fc&libraries=services,clusterer,drawing"></script>

<!-- mypage footer fragment -->
<th:block th:replace="fragments/common/footer :: footerFragment"></th:block>

<script>

</script>

</html>