<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="modify" method="post">
    <input type="hidden" th:value="${item.uNo}" name="uNo">
    <input th:value="${item.title}" name="title"><br>
    <textarea th:text="${item.content}" name="content"></textarea><br>
    <input th:value="${item.userName}" readonly><br>
    <input th:value="${#dates.format(item.regDate, 'yyyy-MM-dd')}" readonly><br>
    <input th:value="${#dates.format(item.modDate, 'yyyy-MM-dd')}" readonly><br>
    <button type="submit" id="modify">수정</button>
    <button type="submit" id="delete">삭제</button>
</form>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function (){
        $('#delete').onclick(function (){
            console.log("script works")
            $('form').attr('action','delete');

        })
    })
</script>
</html>