<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.title}"></title>
</head>
<body>
<div>
    <input th:value="${item.title}" readonly><br>
    <textarea th:text="${item.content}" readonly></textarea><br>
    <input th:value="${item.userName}" readonly><br>
    <input th:value="${#dates.format(item.regDate, 'yyyy-MM-dd')}" readonly><br>
    <input th:value="${#dates.format(item.modDate, 'yyyy-MM-dd')}" readonly><br>
</div>
    <a th:href="|modify?uNo=${item.uNo}|">
        <button id="modify">수정</button>
    </a>
    <a href="list"><button id="list">목록</button></a>
</body>
</html>