<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
  #chartdiv {
  width: 100%;
  height: 500px;
}
</style>
<!-- 그래프 -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

      <ul class="nav">
        <h4>관리자 페이지</h4>
        <li>
          <a href="/sb/member/member?mno=1">회원관리</a>
          <a href="/sb/product/list?pno=1">상품관리</a>
          <a href="/sb/product/upload">상품등록</a>
          <a href="/sb/product/modify?pno=1">상품정보수정</a>
          <a href="/sb/order/list">주문/배송관리</a>
          <a href="/sb/statistics/sales">각종 통계</a>
          <a href="/sb/mail/list">EMAIL & SMS</a>
          <a href="/sb/mail/write">개별 메일 전송</a>
          <a href="/sb/mail/list">자동 메일 및 문자(예정)</a>
        </li>
      </ul>
    <main class="col-9 py-md-3 pl-md-5 bd-content" role="main">
      <div id="chartdiv"></div>
    </main>

</body>
<script>
am5.ready(function() {

// Create root element
// https://www.amcharts.com/docs/v5/getting-started/#Root_element
var root = am5.Root.new("chartdiv");


// Set themes
// https://www.amcharts.com/docs/v5/concepts/themes/
root.setThemes([
  am5themes_Animated.new(root)
]);


// Create chart
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
var chart = root.container.children.push(am5percent.PieChart.new(root, {
  layout: root.verticalLayout
}));


// Create series
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
var series = chart.series.push(am5percent.PieSeries.new(root, {
  valueField: "value",
  categoryField: "category"
}));


// Set data
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
series.data.setAll([
  { value: 1, category: "수정" },
  { value: 2, category: "Two" },
  { value: 3, category: "Three" },
  { value: 4, category: "Four" },
  { value: 5, category: "Five" },
  { value: 6, category: "Six" },
  { value: 7, category: "Seven" },
]);


// Play initial series animation
// https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
series.appear(1000, 100);

}); // end am5.ready()
</script>
</html>
