<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team4.mapper.sw.ExchangeMapper">

    <!-- tbl_exchange 데이터 등록 -->
    <insert id="insert">
        <selectKey keyProperty="eno" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        <![CDATA[
        insert into tbl_exchange (mno, ono, p_no, pno, exCategory, exContent,
            exStatus, exStartDate)
                VALUES (#{mno},#{ono},#{p_no},#{pno},#{exCategory},#{exContent},#{exStatus},#{exStartDate})
        ]]>
        <!-- exEndDate는 나중에 처리 최종 완료 후 입력 -->
    </insert>

    <!-- tbl_exchange 데이터 전체 가져오기(mno 단위) -->
    <select id="getAll" resultType="com.green.team4.vo.sw.ExchangeVO">
        select tbl_exchange.mno,tbl_exchange.ono,tbl_exchange.p_no,tbl_exchange.eno,exCategory,exContent,exStatus,exStartDate,exEndDate,
               tbl_product.p_name,tbl_order.count,tbl_order.productPrice,tbl_order.shipFee,tbl_order.totalPrice,
               tbl_paymentInfo.payName,tbl_paymentInfo.payContent
        from tbl_exchange
        left outer join tbl_product on tbl_exchange.p_no = tbl_product.p_no
        left outer join tbl_order on tbl_exchange.ono = tbl_order.ono
        left outer join tbl_paymentInfo on tbl_exchange.pno = tbl_paymentInfo.pno
        where tbl_exchange.mno=#{mno}
        order by tbl_exchange.exStartDate
    </select>

    <!-- tbl_exchange 데이터 하나 가져오기(eno 단위) -->
    <select id="getOne" resultType="com.green.team4.vo.sw.ExchangeVO">
        select tbl_exchange.mno,tbl_exchange.ono,tbl_exchange.p_no,tbl_exchange.eno,exCategory,exContent,exStatus,exStartDate,exEndDate,
               tbl_product.p_name,tbl_order.count,tbl_order.productPrice,tbl_order.shipFee,tbl_order.totalPrice,
               tbl_paymentInfo.payName,tbl_paymentInfo.payContent
                from tbl_exchange
        left outer join tbl_product on tbl_exchange.p_no = tbl_product.p_no
        left outer join tbl_order on tbl_exchange.ono = tbl_order.ono
        left outer join tbl_paymentInfo on tbl_exchange.pno = tbl_paymentInfo.pno
        where tbl_exchange.eno=#{eno}
    </select>

    <!-- tbl_exchange 데이터 수정 -->
    <update id="update">
        update tbl_exchange
            set exCategory=#{exCategory}, exContent=#{exContent}
                where eno=#{eno}
    </update>

    <!-- tbl_exchange 데이터 삭제 -->
    <delete id="delete">
        delete from tbl_exchange where eno=#{eno}
    </delete>

</mapper>