<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team4.mapper.sw.InterestMapper">

    <!-- Interest 데이터 신규 추가 -->
    <insert id="insert">
        insert into tbl_interest(mno, pno) values (#{mno},#{pno});
    </insert>

    <!-- Interest 데이터 전체 가져오기(mno 단위) -->
    <select id="getAll" resultType="com.green.team4.vo.sw.InterestVO">
        select tbl_interest.mno,tbl_interest.itrNo,tbl_interest.pno,tbl_interest.itrDate,
               tbl_product.pName,tbl_product.pPrice,tbl_product.pImage from tbl_interest
        left outer join tbl_product
        on tbl_interest.pno = tbl_product.pno
        where tbl_interest.mno=#{mno}
        order by tbl_interest.itrDate desc;
    </select>

    <!-- Interest 데이터 삭제 -->
    <delete id="delete">
        delete from tbl_interest where mno=#{mno} and pno=#{pno}
    </delete>

</mapper>