<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team4.mapper.sw.MemberInfoMapper">

    <!-- MemberInfo 데이터 등록 -->
    <insert id="insert">
        insert into tbl_memberInfo (id, password, name, nickName, email, phoneNum, gender, SSNum, postcode, address, detailAddress, auth, grade, point)
            values (#{id}, #{password}, #{name}, #{nickName}, #{email}, #{phoneNum}, #{gender}, #{SSNum},#{postcode},#{address},#{detailAddress},#{auth},#{grade},#{point})
    </insert>

    <!-- MemberInfo 데이터 전체 가져오기 -->
    <select id="getAll" resultType="com.green.team4.vo.sw.MemberInfoVO">
        select * from tbl_memberInfo
    </select>

    <!-- MemberInfo 데이터 하나 가져오기 -->
    <select id="getOne" resultType="com.green.team4.vo.sw.MemberInfoVO">
        select * from tbl_memberInfo where mno=#{mno}
    </select>

    <!-- MemberInfo 데이터 수정 -->
    <update id="update">
        update tbl_memberInfo
            set password=#{password}, nickName=#{nickName}, email=#{email}, phoneNum=#{phoneNum}, postcode=#{postcode}, address=#{address}, detailAddress=#{detailAddress}
                where mno=#{mno}
    </update>

    <!-- MemberInfo 데이터 삭제(탈퇴 회원정보 삭제) -->
    <delete id="delete">
        delete from tbl_memberInfo where mno=#{mno}
    </delete>

    <select id="getMemberInfo" resultType="com.green.team4.vo.sw.MemberInfoVO">
        select * from tbl_memberInfo
        where id=#{id}
    </select>

</mapper>