<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team4.mapper.sw.OrderMapper">

    <!-- Order 데이터 전체 가져오기(mno 단위) -->
    <select id="getAll" resultType="com.green.team4.vo.sw.OrderVO">
        select tbl_order.mno,ono,tbl_order.pno,tbl_order.payINo,tbl_order.postcode,tbl_order.address,tbl_order.detailAddress,tbl_order.usePoint,
               receiverName,receiverPhone,message,count,productPrice,shipFee,
               totalPrice,orderDate,payStatus,deliveryStatus,exStatus,name,phoneNum,pName,payName,payContent from tbl_order
        left outer join tbl_memberInfo on tbl_order.mno = tbl_memberInfo.mno
        left outer join tbl_product on tbl_order.pno = tbl_product.pno
        left outer join tbl_paymentInfo on tbl_order.payINo = tbl_paymentInfo.payINo
        where tbl_order.mno=#{mno}
        order by tbl_order.orderDate desc;
    </select>

    <!-- Order 데이터 하나 가져오기(ono 단위) -->
    <select id="getOne" resultType="com.green.team4.vo.sw.OrderVO">
        select tbl_order.mno,ono,tbl_order.pno,tbl_order.payINo,receiverName,receiverPhone,message,count,productPrice,shipFee,
                tbl_order.postcode,tbl_order.address,tbl_order.detailAddress,tbl_order.usePoint,
                totalPrice,orderDate,payStatus,deliveryStatus,exStatus,name,phoneNum,pName,payName,payContent from tbl_order
        left outer join tbl_memberInfo on tbl_order.mno = tbl_memberInfo.mno
        left outer join tbl_product on tbl_order.pno = tbl_product.pno
        left outer join tbl_paymentInfo on tbl_order.payINo = tbl_paymentInfo.payINo
        where tbl_order.ono=#{ono}
    </select>

    <!-- Order 데이터 수정(결재상태, 배송상태만 수정(관리자 전용)) -->
    <update id="update">
        update tbl_order
        set payStatus=#{payStatus},deliveryStatus=#{deliveryStatus},exStatus=#{exStatus}
        where ono=#{ono}
    </update>

    <!-- Order 데이터 전체 가져오기(관리자용) -->
    <select id="getAllAdmin" resultType="com.green.team4.vo.sw.OrderVO">
        select tbl_order.mno,ono,tbl_order.pno,tbl_order.payINo,receiverName,receiverPhone,message,count,productPrice,shipFee,
               tbl_order.postcode,tbl_order.address,tbl_order.detailAddress,tbl_order.usePoint,
                totalPrice,orderDate,payStatus,deliveryStatus,exStatus,name,phoneNum,pName,payName,payContent from tbl_order
        left outer join tbl_memberInfo on tbl_order.mno = tbl_memberInfo.mno
        left outer join tbl_product on tbl_order.pno = tbl_product.pno
        left outer join tbl_paymentInfo on tbl_order.payINo = tbl_paymentInfo.payINo
        order by tbl_order.orderDate desc;
    </select>
    
</mapper>