<!DOCTYPE html>
<html lang="en">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>LOGIN</title>
</head>
<body>
    <!-- mypage header fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="'로그인'"></h1>
                        <ul class="breadcrumb">
                            <li><a th:id="goBack">home</a></li>
                            <li class="active">login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE SECTION START -->
    <div class="page-section section pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10 col-12 mx-auto">
                    <div class="login-reg-form">
                        <form>
                            <div class="row">
                                <h3>로그인</h3>
                                <p>아이디와 비밀번호를 입력해주세요</p>
                                <div class="col-12 mb-20">

                                </div>
                                <div class="col-12 mb-20">
                                    <label>ID <span class="required">*</span></label>
                                    <input name="id" type="text">
                                </div>
                                <div class="col-12 mb-20">
                                    <label>PASSWORD <span class="required">*</span></label>
                                    <input name="password" type="password">
                                </div>
                                <div class="col-12 mb-20">

                                </div>
                                <div class="col-12 mb-20">
                                    <input value="Login" name="login" class="inline" type="submit">
                                    <label class="inline">
                                        <a href="#">비밀번호 찾기</a>
                                        <span> | </span>
                                        <a style="font-weight: bold" href="/dan/signupCategory">회원가입</a>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE SECTION END -->

</body>

<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
<script>

$("#button").click(function (e){
    var data= {
        id:$("#id").val(),
        password:$("#password").val()
    }
    console.log("쿼리문에서 데이터가 잘 전달되나?",data)
    $.ajax({
        url:'/dan/login',
        method:'post',
        data:JSON.stringify(data),
        contentType:'application/json; charset=utf-8',
        dataType: 'text',
        success:function (success){
            console.log("html에서 success 값 확인",success)
            if(success == "성공") {
                window.location.href= '/dan/samplemain';
            }
            else {
                alert("아이디 또는 비밀번호가 틀렸습니다.")
            }
            console.log("Ajax 통신 성공", result);
            self.location.reload();
        }

    })
})
</script>
</html>