<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
    <!-- head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<body>
<!-- header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="get" action="register">
                    <!--  추후 넘어오는 데이터로 수정 -->
                    <input type="hidden" name="mno" value="10000">
                    <button type="submit" id="regBtn">게시글 등록</button>
                </form>
                <!-- Blog Item -->
                <div class="blog-item mb-75" th:each="item : ${items}">
                    <!-- Image -->
                    <a href="blog-details.html" class="image"><img src="img/blog/3.jpg" alt=""></a>
                    <!-- Content -->
                    <div class="content fix">
                        <!-- bno-->
                        <span th:text="${item.bno}"></span>
                        <!-- Title -->
                        <a class="move" th:href="${item.bno}"><h4 class="title" th:text="${item.title}"></h4></a>
                        <span th:text="${item.nonMemberId}" th:if="item.mno==0"></span>
                        <span th:text="${item.nickName}" th:if="item.mno!=0"></span>
                        <!-- Date -->
                        <span class="date" th:text="${#dates.format(item.regDate, 'MM-dd')}">
                        </span>
                    </div>
                </div>
                <p>

                <!-- pagination -->
                <div class="bs-paging">
                <!--            th:block 사용시 selector 인식 못함-->
                    <a th:href="${pageMaker.startPage - 1}" id="prev"><button class="btn" th:if="${pageMaker.prev}" >이전</button></a>
                    <span class="paginate_button" th:each="num: ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
                        <a th:href="${num}" th:text="${num}"></a>
                    </span>
                    <a th:href="${pageMaker.endPage + 1}" id="next"><button class="btn" th:if="${pageMaker.next}" >다음</button></a>
                </div>
                <!-- pagination end-->
                </p>
                <form id="actionForm" action="list" method="get">
                    <div>
                        <input type="hidden" name="page" th:value="${pageMaker.criteria.page/pageMaker.criteria.pageNum+1}">
                        <input type="hidden" name="pageNum" th:value="${pageMaker.criteria.pageNum}">
                    </div>
                    <!-- Search -->
                    <div>
                        <div>
                            <select name="type" id="type" th:value="${pageMaker.criteria.type}">
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                                <option value="userName">작성자</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" name="keyword" id="keyword" th:value="${pageMaker.criteria.keyword}">
                            <button name="btnSearch" id="btnSearch">검색</button>
                        </div>
                    </div>
                    <!-- Search end-->
                </form>



            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->
<!-- search, pagination info -->
    <div>

    </div>



</body>
<!-- footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer.html :: footerFragment"></th:block>

<script th:inline="javascript">
    $(document).ready(function (){
        let result = '<div th:text="${result}">';
        checkModal(result);
        history.replaceState({},null,null);
        function checkModal(result){
            if(result==='' || history.state){
                return ;
            }
            if (parseInt(result)>0){
                $(".modal-body").html(
                    "게시글 " + parseInt((result) + "번이 등록되었습니다.")
                )
            }

            // $("#myModal").modal("show");
        }
        let actionForm = $("#actionForm")

        // pagination start
        // 페이지 이동 : next, prev, displayPage
        $(".paginate_button a").on("click", function (e){
            // 페이지가 넘어가지 않게 방지
            e.preventDefault();
            // .find() : 어떤 요소의 하위 요소 중 특정 요소를 찾을 때 사용
            actionForm.find("input[name='page']").val($(this).attr("href"));
            actionForm.submit();
        })

        $("#next").on("click", function (e){
            e.preventDefault();
            actionForm.find("input[name='page']").val($(this).attr("href"));
            actionForm.submit();
        })

        $("#prev").on("click", function (e){
            e.preventDefault();
            actionForm.find("input[name='page']").val($(this).attr("href"));
            actionForm.submit();
        })

        // 게시글 href 연결, 복잡한 링크를 만들지 않기 위해 form에 bno정보 담아 전달
        $(".move").on("click",function (e){
            e.preventDefault();
            actionForm.append("<input type='hidden' name='bno' value='" +
                $(this).attr("href") +"'>");
            actionForm.attr("action","/bs/board/read");
            actionForm.submit();
        })
        // pagination end
        // search start
        $("#btnSearch").on('click',function (e){
            e.preventDefault();
            // pageContext.request.contextPath : 상대경로, 여기선 ${#httpServletRequest.getContextPath()} 사용.
            // httpServletRequest : url정보를 얻기 위해 여러 함수를 사용할 수 있는 객체.
            // let url = $('#contextPathHolder').attr('data-contextPath') ?  $('#contextPathHolder').attr('data-contextPath') : '';
            // url = url + "?searchType=" + $("#searchType").val();
            // url = url + "&keyword=" + $('#keyword').val();
            // location.href = url;
            // console.log(url);
            // console.log($('#contextPathHolder').attr('data-contextPath'));
            actionForm.submit();

        })
        // search end



    })
</script>
</html>