<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- head fragment -->
    <th:block th:replace="/fragments/mypage/mypage_header :: head"></th:block>
    <title>Title</title>
</head>
<body>
<!-- header fragment -->
<th:block th:replace="/fragments/mypage/mypage_header.html :: headerFragment"></th:block>
<div class="page-section section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="login-reg-form">
                    <form action="register" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xs-12 mb-20">
                                <label for="title">제목 <span class="required">*</span></label>
                                <input id="title" name="title" type="text"/>
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="content">내용</label>
                                <textarea id="content" name="content"></textarea>
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="nonMemberId" th:if="${item.mno}==10000">작성자<span class="required">*</span></label>
                                <input id="nonMemberId" name="nonMemberId" type="text" th:if="${item.mno}==10000"/>
                                <label for="nickName" th:if="${item.mno}!=10000">작성자</span></label>
                                <input id="nickName" name="nickName" type="text" th:value="${item.nickName}" th:if="${item.mno}!=10000" readonly/>
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="nonMemberPassword" th:if="${item.mno}==10000">비밀번호<span class="required">*</span></label>
                                <input id="nonMemberPassword" name="nonMemberPassword" type="text" th:if="${item.mno}==10000"/>
                            </div>
                            <div class="col-xs-12 mb-20">
                                <label for="img">파일</label>
                                <input id="img" name="img" type="file" multiple/>
                            </div>

                            <div class="col-xs-12">
                                <a href="list"><button type="text">List</button></a>
                                <input value="Register" type="submit">
                                <input th:value="${item.mno}" type="hidden" name="mno">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Body main wrapper end -->
<!-- footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer.html :: footerFragment"></th:block>
</html>