<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>mypage-main</title>
</head>

<!-- 그래프용 style -->
<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }

    <!-- 버튼용 style -->
    #mainBtn {
        width: 300%;
        height: 300px;
    }
</style>


<body>
    <!-- mypage header fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="${memName}+'님'"></h1>
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">myPage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE SECTION START -->
    <div class="page-section section pt-120 pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">

                    <!-- 개인정보 요약 -->
                    <div class="checkout-form">
                        <div class="row">
                            <div class="coupon-form mb-30">
                                <h3>회원정보</h3>
                                <p>회원 정보를 확인해보세요</p>
                                <div>
                                    <button class="btn" name="memberInfo">
                                        개인정보관리
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 쇼핑 요약 -->
                    <div class="checkout-form">
                        <div class="row">
                            <div class="coupon-form mb-30">
                                <h3>쇼핑 요약</h3>
                                <p>쇼핑 정보를 확인해보세요</p>
                                <!-- Chart -->
<!--                                <div>-->
<!--                                    <div id="chartdiv"></div>-->
<!--                                </div>-->
                                <div>
                                    <button class="btn" type="button" name="interest">
                                        찜한상품 <span class="badge" name="itrCnt" th:text="${itrCnt}"></span>
                                    </button>
                                    <button class="btn" type="button" name="cart">
                                        장바구니 <span class="badge" name="cartCnt" th:text="${cartCnt}"></span>
                                    </button>
                                    <button class="btn" type="button" name="order">
                                        주문목록 <span class="badge" name="orderCnt" th:text="${orderCnt}"></span>
                                    </button>
                                    <button class="btn" type="button" name="exchange">
                                        취소/반품/교환 <span class="badge" name="exCnt" th:text="${exCnt}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 내가 쓴 글 요약 -->
                    <div class="checkout-form">
                        <div class="row">
                            <div class="coupon-form mb-30">
                                <h3>내가 쓴 글 요약</h3>
                                <p>작성한 글을 확인해보세요</p>
                                <div>
                                    <button class="btn" type="button" name="review">
                                        상품 리뷰 <span class="badge" name="rCnt" th:text="${rCnt}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 카카오 지도 -->
                    <div class="checkout-form">
                        <div class="row">
                            <div class="coupon-form mb-30">
                                <h3>스포츠 시설 검색</h3>
                                <p>내 주변 스포츠 시설을 찾아보세요</p>
                                <div>
                                    <input name="kakaoMapSearch" style="width: 50%" type="text" placeholder="키워드를 입력하세요" />
                                    <button type="button" name="searchBtn" class="btn btn-outline-secondary">검색</button>
                                    <button type="button" name="curLocationBtn" class="btn btn-outline-secondary">나의 현재위치 찾기</button>
                                    <br/>
                                    <br/>
                                    <div class="kakaoMap" id="map" ></div><br/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- PAGE SECTION END -->





    <!-- 페이지 진입한 회원의 mno (hidden) -->
    <input type="hidden" th:name="mno" th:value="${mno}">

</body>

<!-- 카카오지도 API & 라이브러리 불러오기 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a47cc80dbbabed24ab87dc231f336fc&libraries=services,clusterer,drawing"></script>
<!-- 그래프용 Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>

<script>
    $(document).ready(function (){

        // 일반 메뉴 이벤트 ---------------------------------------------------------------------------------------

        // 아무 버튼이 클릭되면
        $("button").click(function (e){

            // 필요한 데이터
            var mno = $('input[name=mno]').val();
            var pageName = e.target.name;
            console.log("mno: ",mno)

            // 해당하는 페이지로 이동 처리
            if(pageName === 'memberInfo') window.location.href = '/sw/mypage/memberInfo/read?mno='+mno;
            else if(pageName === 'interest') window.location.href = '/sw/mypage/interest/list?mno='+mno;
            else if(pageName === 'cart') window.location.href = '/sw/mypage/cart/list?mno='+mno;
            else if(pageName === 'order') window.location.href = '/sw/mypage/order/list?mno='+mno;
            else if(pageName === 'exchange') window.location.href = '/sw/mypage/exchange/list?mno='+mno;
            else if(pageName === 'review') window.location.href = '/sw/mypage/review/list?mno='+mno;
        })

        // 카카오 지도 API ---------------------------------------------------------------------------------------

        // 지도 생성
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

        // 지도 내 컨트롤러 생성
        var mapTypeControl = new kakao.maps.MapTypeControl(); // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();

        // 지도 현재 위치로 좌표 변경하기
        // 위치 정보 가져오기 성공시 동작
        function locationLoadSuccess(pos){
            var currentPos = new kakao.maps.LatLng(pos.coords.latitude,pos.coords.longitude);
            map.panTo(currentPos); // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
            var marker = new kakao.maps.Marker({ // 마커 생성
                position: currentPos
            });
            // // 기존에 마커가 있다면 제거
            // marker.setMap(null);
            // marker.setMap(map);
        };
        // 위치 정보 가져오기 실패시 동작
        function locationLoadError(pos){
            alert('위치 정보를 가져오는데 실패했습니다.');
        };
        // 현재 위치 정보 가져오기
        function getCurrentPosBtn(){
            navigator.geolocation.getCurrentPosition(locationLoadSuccess,locationLoadError);
        };
        // 현재 위치 가져오기 호출
        getCurrentPosBtn();

        // 키워드로 장소 검색 기능 생성
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});
        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();
        // 키워드로 장소를 검색합니다(검색 버튼 누르면 동작)
        $("button[name=searchBtn]").click(function (){
            var searchKeyword = $("input[name=kakaoMapSearch]").val()
            console.log("검색 키워드: ",searchKeyword);
            ps.keywordSearch(searchKeyword, placesSearchCB);
            // 키워드 검색 완료 시 호출되는 콜백함수 입니다
            function placesSearchCB (data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {
                    console.log("콜백 함수 접근")
                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                    // LatLngBounds 객체에 좌표를 추가합니다
                    var bounds = new kakao.maps.LatLngBounds();
                    for (var i=0; i<data.length; i++) {
                        displayMarker(data[i]);
                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                    }
                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                    map.setBounds(bounds);
                }
                else alert("키워드를 다시 입력해주세요")
            }
            // 지도에 마커를 표시하는 함수입니다
            function displayMarker(place) {
                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });
                // 마커에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function() {
                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                    infowindow.open(map, marker);
                });
            }
        })

        // 현재 위치 받아오기 (현재위치 찾기 버튼 클릭하면 동작)
        $("button[name=curLocationBtn]").click(function (){
            getCurrentPosBtn();
        })


        // Chart 컨트롤 ---------------------------------------------------------------------------------------

        am5.ready(function() {

            // Create root element
            var root = am5.Root.new("chartdiv");

            // Set themes
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            // Create chart
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX:true
            }));

            // Add cursor
            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
            cursor.lineY.set("visible", false);

            // Create axes
            var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
            xRenderer.labels.template.setAll({
                rotation: -90,
                centerY: am5.p50,
                centerX: am5.p100,
                paddingRight: 15
            });
            var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
                maxDeviation: 0.3,
                categoryField: "name",
                renderer: xRenderer,
                tooltip: am5.Tooltip.new(root, {})
            }));
            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0.3,
                renderer: am5xy.AxisRendererY.new(root, {})
            }));

            // Create series
            var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                name: "Series 1",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                sequencedInterpolation: true,
                categoryXField: "name",
                tooltip: am5.Tooltip.new(root, {
                    labelText:"{valueY}"
                })
            }));

            series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5 });
            series.columns.template.adapters.add("fill", function(fill, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            series.columns.template.adapters.add("stroke", function(stroke, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            // Set data
            var data = [];
            // for (let i = 0; i < 100; i++) {
            //     data.push({
            //         country: "5"+"/"+i,
            //         value: i
            //     })
            // }
            data.push({
                    name:"찜한 상품",
                    value:parseInt($("span[name=itrCnt]").text())
                },{
                    name:"장바구니",
                    value:parseInt($("span[name=cartCnt]").text())
                },{
                    name:"주문개수",
                    value:parseInt($("span[name=orderCnt]").text())
                },{
                    name:"취소/반품/교환",
                    value:parseInt($("span[name=exCnt]").text())
                }
            )
            console.log(data);

            xAxis.data.setAll(data);
            series.data.setAll(data);

            // Make stuff animate on load
            series.appear(1000);
            chart.appear(1000, 100);

        }); // end am5.ready()


    })



</script>
</html>