<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team4.mapper.JH.OrderPageMapper">
    <select id="getProductsInfo" resultType="com.green.team4.vo.JH.OrderPageItemVO">
        select pno,pName,pPrice,pDiscount from product where pno = #{pno}
    </select>
</mapper>