<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team4.mapper.JH.ReviewMapper">
    <select id="getReviewList" resultType="com.green.team4.vo.JH.ReviewVO">
        select * from review where pno= #{pno}
    </select>

    <insert id="write">
        insert into review (pno,mno,rRating,likeHit,rImageURL,rContent,rRegdate,rUpdatedate)
        values (#{pno},#{mno},#{rRating},#{likeHit},#{rImageURL},#{rContent},#{rRegdate},#{rUpdatedate})
    </insert>
<!--리뷰 갯수 구하기-->
   <delete id="delete">
       delete from review where rv_no = #{rv_no}
   </delete>



<!--    평점 구하기-->
    <select id="getRatingAvg" resultType="double">
        select avg(rRating) from review where pno = #{pno}
    </select>
<!--평점 상품에 업데이트-->
    <update id="updateRating">
        update product set pRating = #{pRating} where pno=#{pno}
    </update>

    <!--    리뷰 갯수 구하기-->
    <select id="getReviewsCount" resultType="int">
        select count(*) from review where pno= #{pno}
    </select>
    <update id="updateReviewsCount">
        update product set pReviewCnt = #{pReviewCnt} where pno=#{pno}
    </update>

    <select id="getReviewListWithPaging" resultType="com.green.team4.vo.JH.ReviewVO">
        select * from review where pno = #{pno} order by rRegdate desc
                 limit #{startPage}, #{numPerPage}
    </select>
</mapper>