<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team4.mapper.JH.ReviewMapper">
    <select id="getReviewList" resultType="com.green.team4.vo.JH.ReviewVO">
        select * from review where pno= #{pno}
    </select>

    <insert id="write">
        insert into review (pno,rv_content,rv_writer) values (#{pno},#{rv_content},#{rv_writer})
    </insert>

   <delete id="delete">
       delete from review where rv_no = #{rv_no}
   </delete>
</mapper>