<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team4.mapper.JH.ShopMapper">
    <select id="getListAll" resultType="com.green.team4.vo.sb.ProductVO">
         select * from product where pno>0
    </select>
<!--    <select id="getListWithCategory" resultType="com.green.team4.vo.sb.ProductVO">-->
<!--        select * from product where p_category = #{p_category}-->
<!--    </select>-->


    <select id="getOne" resultType="com.green.team4.vo.sb.ProductVO">
        select * from product where pno=#{pno}
    </select>
    <insert id="insert">
        insert into product (pName,pMainCategory,pPrice,pAmount,pImage,pSubCategory,pInformation,pCode)
            values (#{pName},#{pMainCategory},#{pPrice},#{pAmount},
                    #{pImage},#{pSubCategory},#{pInformation},#{pCode})
    </insert>



<!-- 사이즈 옵션-->
    <select id="getColors" resultType="com.green.team4.vo.JH.Product_optVO">
        select distinct ps.pColor from product p
          inner join product_opt1 ps on p.pCode = ps.pCode
        where p.pCode = #{pCode} and ps.pAmount != 0
    </select>
    <select id="getSizes" resultType="com.green.team4.vo.JH.Product_optVO">
        select  distinct ps.pSize  from product p
          inner join product_opt1 ps on p.pCode = ps.pCode
        where p.pCode = #{pCode} and ps.pAmount != 0
    </select>
    <select id="getOptList" resultType="com.green.team4.vo.JH.Product_optVO">
        select * from product p
        inner join product_opt1 ps on p.pCode = ps.pCode
        where p.pCode = #{pCode}
    </select>


    <!--    페이징-->

<!--    <select id="getListByCategoryAndPage" resultType="com.green.team4.vo.sb.ProductVO"-->
<!--            parameterType="Map" >-->
<!--        select * from product where pCategory = #{p_category} order by pno desc ,pRegdate desc-->
<!--            limit #{pagingVO.cri.startPage}, #{pagingVO.cri.numPerPage}-->

<!--    </select>-->

<!--   하위 카테고리-->



    <select id="getListByFind" resultType="com.green.team4.vo.sb.ProductVO">
		select * from product
        where
        <include refid="keyword"></include>
        <include refid="mainCategory"></include> <include refid="subCategory"></include>
         <include refid="sort"></include>
            limit #{startPage}, #{numPerPage}
    </select>
    <select id="getTotaldatabyFind" resultType="int">
		select count(pno)
		from product
		where
        <include refid="keyword"></include>
        <include refid="mainCategory"></include>
        <include refid="subCategory"></include>

    </select>
    <select id="getListBySearch" resultType="com.green.team4.vo.sb.ProductVO">
        select * from product
        where pName like concat('%',#{keyword},'%')
        order by pno desc limit 5
    </select>
    <sql id="keyword">

        <if test="keyword != null and keyword != '' "  >
             pName like concat('%',#{keyword},'%')
        </if>


    </sql>
    <sql id="mainCategory">

        <if test="main_category != null and main_category != ''">
            <if test="main_category == '의류'">
                pMainCategory ='의류'
            </if>
            <if test="main_category == '식품'">
                pMainCategory ='식품'
            </if>
            <if test="main_category == '운동용품'">
                pMainCategory ='운동용품'
            </if>
        </if>

    </sql>
    <sql id="subCategory">
        <if test="sub_category != null and sub_category != ''">
            <if test="sub_category == '비타민C'">
                and  pSubCategory = '비타민C'
            </if>
            <if test="sub_category == '비타민D'">
                and  pSubCategory = '비타민D'
            </if>
            <if test="sub_category == '종합 비타민'">
                and  pSubCategory = '종합 비타민'
            </if>
            <if test="sub_category == '오메가3'">
                and  pSubCategory = '오메가3'
            </if>
            <if test="sub_category == '아르기닌'">
                and  pSubCategory = '아르기닌'
            </if>
            <if test="sub_category == '티셔츠'">
                and  pSubCategory = '티셔츠'
            </if>
            <if test="sub_category == '셔츠'">
                and  pSubCategory ='셔츠'
            </if>
            <if test="sub_category == '기능성티'">
                and  pSubCategory = '기능성티'
            </if>
            <if test="sub_category == '런닝복'">
                and  pSubCategory ='런닝복'
            </if>
            <if test="sub_category == '반팔티'">
                and  pSubCategory ='반팔티'
            </if>
            <if test="sub_category == '벤치프레스'">
                and  pSubCategory = '벤치프레스'
            </if>
            <if test="sub_category == '로잉머신'">
                and  pSubCategory = '로잉머신'
            </if>
            <if test="sub_category == '철봉'">
                and  pSubCategory ='철봉'
            </if>
            <if test="sub_category == '런닝머신'">
                and  pSubCategory = '런닝머신'
            </if>
            <if test="sub_category == '덤벨'">
                and  pSubCategory = '덤벨'
            </if>
        </if>
    </sql>
    <sql id="sort">

           <if test="sort == '' ">
               order by pno desc
           </if>
            <if test="sort == 'new' ">
                order by pno desc
            </if>
            <if test="sort == 'pricedesc' ">
                order by pPrice desc
            </if>
            <if test="sort == 'priceasc' ">
                order by pPrice asc
            </if>


    </sql>
</mapper>