<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>mypage-interest-list</title>
</head>

<body>
    <!-- mypage header fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="'찜목록'"></h1>
                        <ul class="breadcrumb">
                            <li><a href="#" th:id="goBack">mypage</a></li>
                            <li class="active">interest</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Interest List -->
    <div class="page-section section pt-120 pb-80">
        <div class="container">
            <div class="row">
                <form action="#">
                    <div class="col-xs-12">
                        <div class="wishlist-table table-responsive mb-40">
                            <table>
                                <thead>
                                <tr>
                                    <th class="pro-stock-stauts">찜한 날짜</th>
<!--                                    <th class="pro-title">대분류</th>-->
<!--                                    <th class="pro-title">중분류</th>-->
                                    <th class="pro-title">상품번호</th>
                                    <th class="pro-thumbnail">이미지</th>
                                    <th class="pro-title">상품명</th>
                                    <th class="pro-price">가격</th>
                                    <th class="pro-add-to-cart">상품보러가기</th>
<!--                                    <th class="pro-add-to-cart">장바구니 추가(미정)</th>-->
                                    <th class="pro-remove">삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="itr : ${itrList}">
                                    <td class="pro-stock-stauts" name="itrDate" th:text="${itr.itrDate}"></td>
<!--                                    <td class="pro-title" id="pMainCategory" th:text="${itr.pMainCategory}"></td>-->
<!--                                    <td class="pro-title" id="pSubCategory" th:text="${itr.pSubCategory}"></td>-->
                                    <td class="pro-title"  th:text="${itr.pno}"></td>
                                    <td class="pro-thumbnail" id="pImage"><img th:src="|/display?fileName=${itr.pImage}|" alt="" /></td>
                                    <td class="pro-title" id="pName">[[${itr.pName}]]</td>
                                    <td class="pro-price" id="pPrice" th:text="${itr.pPrice}"></td>
                                    <td class="pro-title">
                                        <a th:href="@{/shop/read(pno=${itr.pno},mno=${itr.mno})}" th:text="'클릭'"></a>
                                    </td>
<!--                                    <td class="pro-add-to-cart">-->
<!--                                        <form>-->
<!--                                            <input type="hidden" id="mno" name="mno" th:value="${itr.mno}" readonly>-->
<!--                                            <input type="hidden" id="pno" name="pno" th:value="${itr.pno}" readonly>-->
<!--                                            <input type="button" name="addToCartBtn" class="btn" value="장바구니에 추가">-->
<!--                                        </form>-->
<!--                                    </td>-->
                                    <td class="pro-remove">
                                        <form id="itrDeleteForm" th:action="@{/sw/mypage/interest/delete}" th:method="post">
                                            <input type="hidden" name="mno" th:value="${itr.mno}" readonly>
                                            <input type="hidden" name="pno" th:value="${itr.pno}" readonly>
                                            <input type="hidden" name="itrNo" th:value="${itr.itrNo}" readonly>
                                            <input type="button" name="itrDeleteBtn" class="btn" value="삭제">
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- hidden Data -->
    <input type="hidden" th:name="mno" th:value="${mno}">
</body>

<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>

<script>
    $(document).ready(function (){

        // 찜목록 삭제 버튼 클릭하면 동작
        $("input[name=itrDeleteBtn]").click(function (e){
            if(!confirm("정말 삭제하시겠습니까?")){
                alert("삭제를 취소합니다.")
                return
            }
            else {
                var target = $(this)
                target.form().submit();
                alert("삭제 완료하였습니다.")
            }
        })

        // // 장바구니 추가 버튼 클릭
        // $("input[name=addToCartBtn]").click(function (){
        //     var mno = $(this).form().find("#mno").val()
        //     var pno = $(this).form().find("#pno").val()
        //     console.log("클릭된 mno: ",mno)
        //     console.log("클릭된 pno: ",pno)
        //     var data ={
        //         mno:mno,
        //         pno:pno
        //     }
        //     console.log("modal => 입력받은 data: ",data)
        //     $.ajax({
        //         url:'/sw/mypage/cart/register',
        //         method:'post',
        //         data:JSON.stringify(data),
        //         contentType:'application/json; charset=utf-8',
        //         dataType:'text',
        //         success:function (result){
        //             console.log("주소 저장 => Ajax통신 성공 후 받은 result: ",result);
        //             alert(result)
        //             self.location.reload();
        //         }
        //     })
        // })

        // Mypage 메인으로 돌아가기 버튼 클릭하면 동작
        $("#goBack").click(function (){
            var mno = $("input[name=mno]").val();
            console.log(mno)
            window.location.href = '/sw/mypage/main?mno='+mno;
        })
    })
</script>
</html>