<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>마이페이지-장바구니</h2>

    <!-- Cart -->
    <h3>장바구니 목록</h3>
        <table id="cartTable">
            <thead>
                <tr>
                    <th>상품번호</th>
                    <th>카테고리</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>이미지(나중에 사진으로 교체 예정)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cart : ${cartList}">
                    <td th:text="${cart.p_no}"></td>
                    <td th:text="${cart.p_category}"></td>
                    <td><a th:href="@{/sw/mypage/cart/read}" th:text="${cart.p_name}"></a></td>
                    <!-- 클릭하면 상품 상세화면으로 이동하는 href 속성 추가 예정 -->
                    <td th:text="${cart.p_price}"></td>
                    <td th:text="${cart.p_image}"></td>
                    <!-- 데이터 삭제 시 controller 전송용 form -->
                    <td>
                        <form th:action="@{/sw/mypage/cart/delete}" th:method="post">
                            <input type="hidden" name="mno" th:value="${cart.mno}" readonly>
                            <input type="hidden" name="cno" th:value="${cart.cno}" readonly>
                            <input type="hidden" name="p_no" th:value="${cart.p_no}" readonly>
                            <input type="hidden" name="p_category" th:value="${cart.p_category}" readonly>
                            <input type="hidden" name="p_name" th:value="${cart.p_name}" readonly>
                            <input type="hidden" name="p_price" th:value="${cart.p_price}" readonly>
                            <input type="hidden" name="p_image" th:value="${cart.p_image}" readonly>
                            <input type="submit" value="삭제">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    <hr/>
</body>
<script>

</script>
</html>