<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>mypage-main</title>
</head>

<body>
<!-- mypage header fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1 th:text="${memName}+'님'"></h1>
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">myPage</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 배송지 정보 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <div class="login-reg-form">
                    <div class="row">
                        <h5>메일 발송 목록</h5>
                        <input type="hidden" name="mno"/>
                        <div class="shipList col-xs-12 mb-20"  th:each="list : ${list}">
                            <ul>
                                <table>
                                    <ul>
                                        <li th:text="'회원번호: '+${list.mno}"/>
                                        <li th:text="'주소: '+${list.email}"/>
                                        <li th:text="'제목: '+${list.subject}"/>
                                        <li th:text="'내용: '+${list.text}"/>
                                        <li th:text="'발송일: '+${list.sendDate}"/>
                                    </ul>
                                </table>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
</html>