<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- mypage head fragment -->
  <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
  <title>mypage-main</title>
</head>
<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-banner-content">
          <h1 th:text="${memName}+'님'"></h1>
          <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">myPage</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

    <main class="col-9 py-md-3 pl-md-5 bd-content" role="main">
      <h5>매일 작성</h5>
      <form action="/sb/mail/write" method="post">
        <table>
          회원번호: <input type="text" name="mno">
          <div/>
          받는사람: <input type="text" name="email">
          <div/>
          제목: <input type="text" name="subject">
          <div/>
          파일첨부: <input type="file" placeholder="나중에...">
          <div/>
          내용:
          <textarea type="text" name="text" rows="4" cols="50"></textarea>
          <div/>
        </table>
        <button type="submit">전송</button>
      </form>
    </main>
</body>
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
</html>