<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head fragment -->
<div th:fragment="head">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" type="/image/x-icon" href="/img/favicon.ico">

        <!-- All CSS Files -->
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Icon Font -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
        <!-- Plugins css file -->
        <link rel="stylesheet" href="/css/plugins.css">
        <!-- Theme main style -->
        <link rel="stylesheet" href="/style.css">
        <!-- Responsive css -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- 페이징 별도 css (SW추가) -->
        <link rel="stylesheet" href="/paginationCustom.css">

    </head>
</div>

<!-- header fragment -->
<div th:fragment="headerFragment">
    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- START HEADER SECTION -->
        <header class="header-section section sticker">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <!-- logo -->
                        <div class="header-logo">
                            <a href="index.html"><img src="/img/logo.png" alt="main logo"></a>
                        </div>
                    </div>
                    <div class="col-auto d-flex">
                        <!-- header-search & total-cart -->
                        <nav class="main-menu">
                            <ul>
                                <li><a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home one</a></li>
                                        <li><a href="index-2.html">Home two</a></li>
                                        <li><a href="index-3.html">Home three</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">New Brand</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="product-details.html">product details</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">Best Sellers</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="product-details.html">product details</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/shop/list(pCateCode='100000',tier=1,page=1,numPerPage=10,sort='',keyword='')}">MEN</a>
                                    <ul class="sub-menu shopCategory firstCategory">

                                    </ul>
                                </li>
                                <li ><a th:href="@{/shop/list(pCateCode='200000',tier=1,page=1,numPerPage=10,sort='',keyword='')}">WOMEN</a>
                                    <ul class="sub-menu shopCategory secondCategory">

                                    </ul>
                                </li>
                                <li><a th:href="@{/shop/list(pCateCode='300000',tier=1,page=1,numPerPage=10,sort='',keyword='')}">Nutrition</a>
                                    <ul class="sub-menu shopCategory thirdCategory">

                                    </ul>
                                </li>
                                <li><a th:href="@{/shop/list(pCateCode='400000',tier=1,page=1,numPerPage=10,sort='',keyword='')}">accessories</a>
                                    <ul class="sub-menu shopCategory fourthCategory">

                                    </ul>
                                </li>
                                <li><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="register.html">register</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Admin</a>
                                    <ul class="sub-menu">
                                        <li><a th:href="@{/sb/member/member?mno=1}">member</a></li>
                                        <li><a th:href="@{/sb/product/upload}">product upload</a></li>
                                        <li><a th:href="@{/sb/product/list(pno=1)}">product list</a></li>
                                        <li><a th:href="@{/sb/mail/write}">mail write</a></li>
                                        <li><a th:href="@{/sb/mail/list}">mail list</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- header-search & total-cart -->
                        <div class="header-option-btns d-flex">
                            <!-- header-search -->
                            <div class="header-search">
                                <button class="search-toggle"><i class="pe-7s-search"></i></button>
                                <div class="header-search-form">
                                    <!--                                    <form action="#">-->
                                    <!--                                        <input type="text" placeholder="Search">-->
                                    <!--                                        <button><i class="fa fa-long-arrow-right"></i></button>-->
                                    <!--                                    </form>-->
                                    <form class="searchForm" action="/shop/list" method="get">
                                        <input type="text" placeholder="Search" id="keyword" name="keyword">
                                        <button id="findBtn"><i class="fa fa-long-arrow-right"></i></button>
                                    </form>
                                    <div id="selectView"></div>
                                </div>
                            </div>

                            <!-- header Account SW 내용 수정 0605 -->
                            <!-- 추후 mno 고정 해제 예정 -->
                            <div class="header-account">
                                <ul>
                                    <li><a href="#" class="account-toggle"><i class="pe-7s-config"></i></a>
                                        <ul class="account-menu">
                                            <form form-method="post" th:action="@{/logout}">
                                                <li><a sec:authorize="isAuthenticated()" type="submit">Logout</a></li>
                                                <li><a sec:authorize="isAnonymous()" th:href="@{/dan/login}" type="submit">Login</a></li>

                                            </form>
                                            <li><a href="/dan/*/signup">Register</a></li>
                                            <li><a href="/sw/mypage/main?mno=2">My Account</a></li>
                                            <li><a href="/sw/mypage/interest/list?mno=2">Wish list</a></li>
                                            <li><a href="/sw/mypage/personalQ/regQ?mno=2">1:1문의하기</a></li>
<!--                                            <li><a href="">Checkout</a></li>--> <!-- 로그아웃 화면 연결 예정 -->
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Header Cart -->
                            <div class="header-cart">
                                <!-- Cart Toggle -->
                                <a class="cart-toggle">
                                    <i class="pe-7s-cart"></i>
                                    <span id="cartCntSpan"></span>
                                </a>
                                <!-- Mini Cart Brief -->
                                <div class="mini-cart-brief text-left">
                                    <!-- Cart Products -->
                                    <h6>CART</h6>
                                    <!-- 회원별 장바구니 데이터 들어오는 영역 -->
                                    <div class="all-cart-product clearfix uploadCartResult">

                                    </div>
                                    <!-- Cart Button -->
                                    <div class="cart-bottom  clearfix">
                                        <a href="/sw/mypage/cart/list?mno=2">장바구니 전체 보기</a> <!-- mno 고정 풀어야함 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu"></div>

                </div>
            </div>
        </header>
        <!-- END HEADER SECTION -->

    </div>
</html>