<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>product/list</title>
</head>
<style>
    .required{
        color: red;
    }
</style>

<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1 th:text="'회원정소'"></h1>
                    <ul class="breadcrumb">
                        <li><a th:href="@{/sb/member/member?mno=1}">member</a></li>
                        <li class="active">modify</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

            <form name="getForm" action="/sb/product/list">
                <h5>상품 조회(이미지 클릭시 수정 및 삭제)</h5>
                <input name="pno" th:placeholder="상품번호조회">
                <select>
                    <option value="">상품번호 조회</option>
                    <option value="">상품명 조회</option>
                    <option value="">카테고리 조회</option>
                </select>
                <a th:href="@{/sb/product/modify(pno=${getOne.pno})}"><li>
                    <img th:src="|/display?fileName=${getOne.pImage}|" style="width: 150px; height: 150px"/></li></a>
                <ul>
                    <li th:text="'상품번호: '+${getOne.pno}"></li>
                    <li th:text="'상품명: '+${getOne.pName}"/>
                    <li th:text="'메인카테고리: '+${getOne.pMainCategory}"/>
                    <li th:text="'서브카테고리: '+${getOne.pSubCategory}"/>
                    <li th:text="'등록일: '+${getOne.pRegdate}"/>
                </ul>
            </form>
            <h5>전체 상품 목록</h5>
            <tr th:each="dto : ${list}">
<!--                <a th:href="@{/sb/product/modify(pno=${dto.pno})}"><li><img th:src="|/display?fileName=${dto.pImage}|"/></li></a>-->
                <ul>
                    <a th:href="@{/sb/product/modify(pno=${dto.pno})}">
                        <img th:src="|/display?fileName=${dto.pImage}|" style="width: 100px; height: 100px"/>
                    </a>
                    <li th:text="${dto.pName}"/>
                    <li th:text="${dto.pMainCategory}"/>
                </ul>
            </tr>
</body>
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
</html>