<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>product/uploadOpt</title>
</head>
<style>
    .required{
        color: red;
    }
</style>

<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1 th:text="'상품옵션등록'"></h1>
                    <ul class="breadcrumb">
                        <li><a th:href="@{/sb/product/upload}">upload</a></li>
                        <li class="active">uploadOpt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 
<!-- PAGE SECTION START -->
<div class="page-section section pt-120 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="customer-login mb-40">
                    <!-- LOGIN START -->
                    <h3>Returning customer? <a data-bs-toggle="collapse" href="#checkout-login">Click here to login</a></h3>
                    <div id="checkout-login" class="checkout-login collapse fix">
                        <div class="checkout-login-wrapper mt-30">
                            <p>Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <form action="#">
                                    <div class="fix mb-20">
                                        <label>Username or email <span class="required">*</span></label>
                                        <input type="text" />
                                    </div>
                                    <div class="fix mb-20">
                                        <label>Password  <span class="required">*</span></label>
                                        <input type="text" />
                                    </div>
                                    <div class="fix mb-20">
                                        <input type="submit" value="Login" />
                                        <label class="remember-me-box">
                                            <input type="checkbox" />
                                            Remember me 
                                        </label>
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- LOGIN END -->						
                </div>
            </div>
            <div class="col-12">
                <div class="checkout-form">
                    <div class="row">
                        <div class="col-lg-6 mb-40">
                            <form class="forModify" method="post" action="/sb/product/uploadOpt" enctype="multipart/form-data">
                                <h3>등록한 상품정보</h3>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label>카테고리코드</label>
                                        <input type="text" name="pCateCode" th:placeholder="${product.pCateCode}" th:value="${product.pCateCode}"/>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label>카테고리코드</label>
                                        <input type="text" placeholder="예정" readonly/>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label for="pName">상품번호</label>
                                        <input type="text" name="pno" th:placeholder="${product.pno}" th:value="${product.pno}"/>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label for="pName">상품명</label>
                                        <input type="text" id="pName" name="pName" th:placeholder="${product.pName}" th:value="${product.pName}"/>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label for="price">상품가격</label>
                                        <input type="text" id="price" name="pOptPrice" th:placeholder="${product.pPrice}" th:value="${product.pPrice}"/>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <input type="hidden" />
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label>상품 대표이미지</label>
                                        <img th:src="|/display?fileName=${product.pImage}|" style="width: 150px; height: 150px"/>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 mb-20">
                                        <label>상품 상세정보 대표이미지</label>
                                        <img th:src="|/display?fileName=${product.pInformation}|" style="width: 150px; height: 150px"/>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12 mb-40">
                                    <div class="coupon-form mb-30">
                                            <h3>상품 재고 관리</h3>
                                            <div class="col-sm-6 col-xs-12 mb-20">
                                                <h7>옵션1<span class="required">*</span></h7>
                                                <label><input type="text" id="option1" name="pOptionName" th:value="${opt1Name[0]}"></label>
                                            </div>

                                            <div class="col-sm-6 col-xs-12 mb-20">
                                                <h7>등록된 옵션<span class="required">*</span></h7>
                                                <div th:each="opt1 : ${opt1List}">
                                                    <div style="float: left; width: 33%;">
                                                        [[${opt1}]]
                                                        <input type="radio" th:name="pOption" th:value="${opt1}">
                                                    </div>
                                                </div>
                                            </div>
                                            <br/><br/>
                                        <div class="col-sm-6 col-xs-12 mb-20">
                                            <h7>옵션2<span class="required">*</span></h7>
                                            <label><input type="text" id="option2" name="pOptionName2" th:value="${opt2Name[0]}"></label>
                                        </div>

                                        <div class="col-sm-6 col-xs-12 mb-20">
                                            <h7>등록된 옵션<span class="required">*</span></h7>
                                            <div th:each="opt2 : ${opt2List}">
                                                <div style="float: left; width: 33%;">
                                                    [[${opt2}]]
                                                    <input type="radio" th:name="pOption2" th:value="${opt2}">
                                                </div>
                                            </div>
                                        </div>
                                            <br/>
                                            <div class="col-sm-6 col-xs-12 mb-20">
                                                <div class="col-sm-6 col-xs-12 mb-20">
                                                    <h7>등록된 색상<span class="required">*</span></h7>
                                                    <div th:each="color : ${colorList}">
                                                        <div style="float: left; width: 50%;">
                                                            [[${color}]]
                                                            <input type="radio" th:name="pColor" th:value="${color}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <br/><br/>
                                            <div class="col-sm-6 col-xs-12 mb-20">
                                                <h7>수량<span class="required">*</span></h7>
                                                <br/>
                                                <input type="text" id="amount" />
                                            </div>
                                            <br/>
                                            <br/>
                                            <div class="order_button">
                                                <li><button type="button" onclick="getInputValue();">재고조회</li>
                                                <li><button type="button" onclick="amountAjax();">재고조회2</li>
                                                <br/>
                                            </div>
                                            <input type="submit" value="최종 등록">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGE SECTION END -->

</body>
<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
<script>
var opt1Name = "";
var opt1 = "";
var opt2Name = "";
var opt2 = "";
var color = "";

function getInputValue(){
                opt1Name = $('input[name=pOptionName]').val();
                opt1 = $('input[name=pOption]:checked').val();
                opt2Name = $('input[name=pOptionName2]').val();
                opt2 = $('input[name=pOption2]:checked').val();
                color = $("input[name='pColor']:checked").val();

                console.log(opt1Name, typeof(opt1Name))
                console.log(opt1, typeof(opt1))
                console.log(opt2Name, typeof(opt2Name))
                console.log(opt2, typeof(opt2))
                console.log(color, typeof(color))
            }

// var optVO = {"pOptionName":opt1Name, "pOption":opt1, "pOptionName2":opt2Name, "pOption2":opt2, "pColor":color}


    function amountAjax(){
        
        var optVO = {
            poptionName:$('input[name=pOptionName]').val(),
            poption:$('input[name=pOption]:checked').val(), 
            poptionName2:$('input[name=pOptionName2]').val(), 
            poption2:$('input[name=pOption2]:checked').val(), 
            pcolor:$("input[name='pColor']:checked").val(),
            pno:$("input[name=pno]").val()
        }

        console.log('optVO출력: ',optVO)
            $.ajax({
                    anyne:true,
                    type: 'POST',
                    data: JSON.stringify(optVO),
                    url: "/sb/product/getAmount",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8;",
                    success: function(data) {
                        console.log(data);
                        console.log(data.pamount)
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert("ERROR: " + textStatus + " : " + errorThrown)
                    }
                })
            }

    $(document).ready(function(){




    })
</script>

</html>