<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- mypage head fragment -->
  <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
  <title>product/uploadOpt</title>
</head>
<style>
.required{
  color: red;
}
</style>
<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>

<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-banner-content">
          <h1 th:text="'상품옵션등록'"></h1>
          <ul class="breadcrumb">
            <li><a th:href="@{/sb/product/upload}">upload</a></li>
            <li class="active">uploadOpt</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- uploadOpt -->
<div class="page-section section pt-120 pb-45">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <div class="login-reg-form">
          <form class="forModify" method="post" action="/sb/product/uploadOpt" enctype="multipart/form-data">
            <div class="row">
              <h3>상품등록</h3>
              <p>판매할 상품의 옵션을 등록하세요</p>
              <div class="col-sm-6 col-xs-12 mb-20">
                <div class="inputArea">
                  <h7>메인카테고리</h7>
                  <select id="category" name="pMainCategory">
                    <option th:value="${product.pMainCategory}" th:text="${product.pMainCategory}"></option>
                    <option value="남성 옷">남성 옷</option>
                    <option value="여성 옷">여성 옷</option>
                    <option value="식품">식품</option>
                    <option value="엑세서리 및 기구">엑세서리 및 기구</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 mb-20">
                <div class="inputArea">
                  <h7>서브카테고리</h7>
                  <select id="subCategory" name="pSubCategory">
                    <option th:value="${product.pSubCategory}" th:text="${product.pSubCategory}"></option>
                    <option value="상의">상의</option>
                    <option value="하의">하의</option>
                    <option value="신발">신발</option>
                    <option value="보충제">보충제</option>
                    <option value="영양제">영양제</option>
                    <option value="ing">ing</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 mb-20">
                <label for="pName">상품번호</label>
                <input type="text" name="pno" th:placeholder="${product.pno}" th:value="${product.pno}"/>
              </div>
              <div class="col-sm-6 col-xs-12 mb-20">
                <label for="pName">상품명</label>
                <input type="text" id="pName" name="pName" th:placeholder="${product.pName}" th:value="${product.pName}"/>
              </div>
              <div class="col-sm-6 col-xs-12 mb-20">
                <label for="price">상품가격</label>
                <input type="text" id="price" name="pOptPrice" th:placeholder="${product.pPrice}" th:value="${product.pPrice}"/>
              </div>
              <div class="col-sm-6 col-xs-12 mb-20">
                <label>상품 대표이미지<span class="required">*</span></label>
                <img th:src="|/display?fileName=${product.pImage}|" style="width: 150px; height: 150px"/>
              </div>
              <div class="col-sm-6 col-xs-12 mb-20">
                <label>상품 상세정보 대표이미지<span class="required">*</span></label>
                <img th:src="|/display?fileName=${product.pInformation}|" style="width: 150px; height: 150px"/>
              </div>
            </div>
            <input type="submit" value="등록">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

      <form method="post" action="/sb/product/uploadOpt" enctype="multipart/form-data">
        <h3>옵션별 수량 등록</h3>
        <div class="inputArea">
          <label>메인카테고리</label>
          <select id="category" name="pMainCategory">
            <option th:value="${product.pMainCategory}" th:text="${product.pMainCategory}"></option>
            <option value="남성 옷">남성 옷</option>
            <option value="여성 옷">여성 옷</option>
            <option value="식품">식품</option>
            <option value="엑세서리 및 기구">엑세서리 및 기구</option>
          </select>
        </div>

        <div class="inputArea">
          <label>서브카테고리</label>
          <select id="subCategory" name="pSubCategory">
            <option th:value="${product.pSubCategory}" th:text="${product.pSubCategory}"></option>
            <option value="상의">상의</option>
            <option value="하의">하의</option>
            <option value="신발">신발</option>
            <option value="보충제">보충제</option>
            <option value="영양제">영양제</option>
            <option value="ing">ing</option>
          </select>
        </div>

        <div class="inputArea">
          <label for="pName">상품번호</label>
          <input type="text" name="pno" th:placeholder="${product.pno}" th:value="${product.pno}"/>
        </div>

        <div class="inputArea">
          <label for="pName">상품명</label>
          <input type="text" id="pName" name="pName" th:placeholder="${product.pName}" th:value="${product.pName}"/>
        </div>

        <div class="inputArea">
          <label for="price">상품가격</label>
          <input type="text" id="price" name="pOptPrice" th:placeholder="${product.pPrice}" th:value="${product.pPrice}"/>
        </div>

        <div class="inputArea">
          <label>옵션1</label>
          <label><input type="text" id="option1" name="pOptionName" placeholder="옵션명"></label>
        </div>

        <button id="btnCloths" type="button">옷</button>
        <div id="clothsOpt"></div>
        <button id="btnShoes" type="button">신발</button>
        <div id="shoesOpt"></div>

        <div class="inputArea">
          <label>옵션2</label>
        </div>
        <button type="button" id="btnNull">없음</button>
        <ul id="insertOpt2">
          <label><input type="text" class="opt2" id="optionName2" name="pOptionName2" placeholder="옵션명" readonly></label>
          <li><input type="text" class="opt2" name="opt2" placeholder="직접입력" /><button type="button" id="btnAddOpt2">옵션추가</button></li>
        </ul>


        <div class="inputArea">
          <label>색상</label>
          <label><input type="checkbox" name="colorOpt" value="BLACK">BLACK</label>
          <label><input type="checkbox" name="colorOpt" value="WHITE">WHITE</label>
          <label><input type="checkbox" name="colorOpt" value="RED">RED</label>
          <label><input type="checkbox" name="colorOpt" value="BLUE">BLUE</label>
          <label><input type="checkbox" name="colorOpt" value="YELLOW">YELLOW</label>
          <label><input type="checkbox" name="colorOpt" value="GREEN">GREEN</label>
          <label><input type="checkbox" name="colorOpt" value="PURPLE">PURPLE</label>
          <label><input type="text" placeholder="직접입력"/>
        </div>

        <div class="inputArea">
          <label>수량</label>
          <input type="text" id="amount" name="pAmount" />
        </div>

        <div class="inputArea">
          <label>상품이미지</label>
          <input type="file" name="uploadFilesImg" multiple>
        </div>

        <div class="inputArea">
          <label>상품소개</label>
          <input type="file" id="pInfo" name="uploadFilesInfo" multiple>
        </div>

        <input type="submit" value="최종 등록">
      </form>
  </div>
</div>
</body>
<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
<script>

 $(document).ready(function(){

  let flag = false;

    $("#btnCloths").click(function(){
      if(flag === false){
      for (let i = 85; i <= 120; i+=5) {
      $("#clothsOpt").append(
          "<label><input type="+"checkbox "+"name="+"opt1 " + "value=" + i + ">" + i + "</label>"
        )}
        flag = true;
      }
    })

    $("#btnShoes").click(function(){
      if(flag === false){
      for (let i = 245; i <= 290; i+=5) {
      $("#shoesOpt").append(
        "<label><input type="+"checkbox "+"name="+"opt1 " + "value=" + i + ">" + i + "</label>"
        )}
        flag = true;
      }
    })

    $("#btnAddOpt2").click(function(){
      $("#insertOpt2").append(
        "<li><input type=" + "text " + "name=" + "opt2 " + "placeholder=" + "직접입력 " + "value=''"
          + "/><button type=" + "button " + "id=" + "btnAddOpt2" + ">옵션추가</button></li>"
        )
    })

    let flag2 = false;
    $("#option1").change(function(){
      flag2 = true;
      $("#optionName2").removeAttr("readonly");
    })

    $("#option2").click(function(){
      if(flag2 === false){
        console.log(flag2);
        alert("옵션1부터 작성해야함");
      }
    })

    $("#btnNull").click(function(){
      $(".opt2").attr("value", "없음");
    })

 })
</script>
</main>
</html>