<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MemberModify</title>
</head>
<body>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<style>
    .bd-navbar {
        position: sticky;
        top: 0;
        z-index: 1071;
        min-height: 4rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    }
    .bd-sidebar {
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
        background: #eee;
        border-right: 1px solid rgba(0,0,0,.1);
        overflow-y: auto;
        min-width: 160px;
        max-width: 220px;
    }
    .bd-sidebar .nav {
        display: block;
    }
    .bd-sidebar .nav>li>a {
        display: block;
        padding: .25rem 1.5rem;
        font-size: 90%;
    }
</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<header class="navbar navbar-expand navbar-dark bg-dark bd-navbar">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">홈</a></li>
            <li class="nav-item"><a class="nav-link" href="#">1번 메뉴</a></li>
            <li class="nav-item"><a class="nav-link" href="#">2번 메뉴</a></li>
        </ul>
    </div>
</header>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-3 bd-sidebar">
            <ul class="nav">
                <li>
                <a href="/sb/member/member?mno=1">회원관리</a>
                <a href="/sb/product/list?pno=1">상품관리</a>
                <a href="/sb/product/upload">상품등록</a>
                <a href="">주문/배송관리</a>
                <a href="">각종 통계</a>
                <a href="/sb/mail/list">EMAIL & SMS</a>
                <a href="/sb/mail/write">개별 메일 전송</a>
                <a href="/sb/mail/list">자동 메일 및 문자(예정)</a>
                </li>
            </ul>
            <br>
        </div>
        <main class="col-9 py-md-3 pl-md-5 bd-content" role="main">
            <h5>회원 정보 수정 및 삭제</h5>
            <h7>회원정보</h7>
            <form th:action="@{/sb/member/modify(mno=${getOne.mno})}" method="post">
              <li th:text="${getOne.mno}" readonly="readonly"></li>

                <li th:text="'이름: '+${getOne.name}"></li>
                <input th:name="name" th:value="${getOne.name}">

                <li th:text="'아이디: '+${getOne.id}"></li>
                <input th:name="id" th:value="${getOne.id}">

                <li th:text="'패스워드: '+${getOne.password}"></li>
                <input th:name="password" th:value="${getOne.password}">

                <li th:text="'닉네임: '+${getOne.nickName}"></li>
                <input th:name="nickName" th:value="${getOne.nickName}">

                <li th:text="'주소: '+${getOne.address}"></li>
                <input th:name="address" th:value="${getOne.address}">

                <li th:text="'주민번호: '+${getOne.SSNum}"></li>
                <input th:name="SSNum" th:value="${getOne.SSNum}">

                <li th:text="'이메일: '+${getOne.email}"></li>
                <input th:name="email" th:value="${getOne.email}">

                <li th:text="'전화번호: '+${getOne.phoneNum}"></li>
                <input th:name="phoneNum" th:value="${getOne.phoneNum}">

                <li th:text="'권한: '+${getOne.auth}"></li>
                <input th:name="auth" th:value="${getOne.auth}">

                <li th:text="'등급: '+${getOne.grade}"></li>
                <input th:name="grade" th:value="${getOne.grade}">

                <input type="submit" th:value="수정"/>
            </form>
            <form th:action="@{/sb/member/remove(mno=${getOne.mno})}" method="post">
                <input type="submit" th:value="삭제"/>
            </form>
        </main>
    </div>
</body>
</html>