<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>mypage-main</title>
</head>
<style>
    .search_result_div{
        width: 200px;
    }
    .search_img{
        display: block;
        float: left;
        margin-right: 15px;
        width: 95px;
    }
    .search_Name{
        width: 95px;
        font-size: 20px;
        text-align: center;
    }
    .float-end{
        margin-right: 80px;
    }
    .reviewCnt_span{
     font-size:12px;
        margin-left: 3px;
    }
</style>
<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1 th:text="${memName}+'님'"></h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">myPage</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-section section pt-120 pb-120">

    <div class="container">
        <div class="cateName_div" th:if="${pCateName} != null">
            <h4>[[${pCateName.pCateName}]]</h4>
            <br>
            <br>
        </div>
        <div class="row justify-content-between">

            <div class="isotope-product-filter col-auto" >
                <a  th:href="@{/shop/list(pCateCode=${category.pCateCode},tier=${category.tier},page=1,numPerPage=10,sort='',keyword='')}"  th:data-filter="|.${category.pCateCode}|" th:value="${category.pCateCode}" th:each="category : ${cateTier3ListWithCode}" th:text="${category.pCateName}"></a>
            </div>
            <!-- Product Filter Toggle -->
            <div class="col-auto">
                <button class="product-filter-toggle">filter</button>
            </div>
        </div>
        <!-- Product Filter Wrapper -->
        <div class="row">
            <div class="col-xs-12">
                <div class="product-filter-wrapper">
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>Sort by</h5>
                        <ul class="sort-by">
                            <li><a th:href="@{/shop/list(pCateCode=${cri.pCateCode},tier=${cri.tier},page=1,numPerPage=10,sort='',keyword=${cri.keyword})}">기본</a></li>
                            <li><a th:href="@{/shop/list(pCateCode=${cri.pCateCode},tier=${cri.tier},page=1,numPerPage=10,sort='ratingDesc',keyword=${cri.keyword})}">평점순</a></li>
                            <li><a th:href="@{/shop/list(pCateCode=${cri.pCateCode},tier=${cri.tier},page=1,numPerPage=10,sort='reviewCntDesc',keyword=${cri.keyword})}">리뷰많은순</a></li>
                            <li><a th:href="@{/shop/list(pCateCode=${cri.pCateCode},tier=${cri.tier},page=1,numPerPage=10,sort='new',keyword=${cri.keyword})}">신제품순</a></li>
                            <li><a th:href="@{/shop/list(pCateCode=${cri.pCateCode},tier=${cri.tier},page=1,numPerPage=10,sort='priceasc',keyword=${cri.keyword})}">가격낮은순</a></li>
                            <li><a th:href="@{/shop/list(pCateCode=${cri.pCateCode},tier=${cri.tier},page=1,numPerPage=10,sort='pricedesc',keyword=${cri.keyword})}">가격높은순</a></li>
                        </ul>

                    </div>
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>color filters</h5>
                        <ul class="color-filter">
                            <li><a href="#"><i style="background-color: #000000;"></i>Black</a></li>
                            <li><a href="#"><i style="background-color: #663300;"></i>Brown</a></li>
                            <li><a href="#"><i style="background-color: #FF6801;"></i>Orange</a></li>
                            <li><a href="#"><i style="background-color: #ff0000;"></i>red</a></li>
                            <li><a href="#"><i style="background-color: #FFEE00;"></i>Yellow</a></li>
                        </ul>
                    </div>
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>product tags</h5>
                        <div class="product-tags">
                            <a href="#">New</a>,
                            <a href="#">brand</a>,
                            <a href="#">black</a>,
                            <a href="#">white</a>,
                            <a href="#">chire</a>,
                            <a href="#">table</a>,
                            <a href="#">Lorem</a>,
                            <a href="#">ipsum</a>,
                            <a href="#">dolor</a>,
                            <a href="#">sit</a>,
                            <a href="#">amet</a>
                        </div>
                    </div>
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>Filter by price</h5>
                        <div id="price-range"></div>
                        <div class="price-values">
                            <span>Price:</span>
                            <input type="text" class="price-amount">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="isotope-grid row">


            <div class="isotope-item  col-xl-3 col-lg-4 col-md-6 col-12 mb-50" th:classappend="${dto.pCateCode}" th:each="dto : ${list}">
                <div class="product-item product-item-2 text-center">
                    <!-- Product Image -->
                    <div class="product-img">
                        <!-- Image -->
                        <a class="image"  th:href="@{/shop/read(pno=${dto?.pno},mno=2)}"><img th:src="|/display?fileName=${dto.pImage}|" alt=""></a>
                        <!-- Action Button -->
                        <div class="action-btn-2">
                            <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                            <a href="#" data-bs-toggle="modal"  data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <!-- Portfolio Info -->
                    <div class="product-info">
                        <!-- Title -->
                        <h5 class="title"><a th:href="@{/shop/read(pno=${dto?.pno},mno=2)}">[[${dto?.pName}]]--[[${dto?.pCateName}]]</a></h5>
                        <!-- Price -->
                        <div class="price-ratting fix">
                            <span class="price"><span class="new">€137.00</span><span class="old">[[${dto?.pPrice}]]원</span></span>
                        </div>
                        <br>
                        <span class="ratting float-end "  >
                                <th:block th:if="${#numbers.formatInteger(dto.pRating,0)} !=0" th:with="end = ${#numbers.formatInteger(dto.pRating,0)}, end2 = 5-${#numbers.formatInteger(dto.pRating,0)}">
                                    <i class="fa fa-star active"
                                       th:each="star,numStat : ${#numbers.sequence(1, end)}" ></i>
                                     <i class="fa fa-star"
                                        th:each="star : ${#numbers.sequence(1, end2)}"></i>
                                    <span class="reviewCnt_span" th:text="|(${dto.pReviewCnt})|"></span>
                                </th:block>

                            </span>
                        <span th:if="${#numbers.formatInteger(dto.pRating,0)} ==0" class="ratting float-end">
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                                    <i class="fa fa-star "></i>
                            <span class="reviewCnt_span" th:text="|(${dto.pReviewCnt})|"></span>
                        </span>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center col-xs-12 mt-30">
                <a href="#" class="btn load-more-product">load more</a>
            </div>
        </div>
<!--        <div class="pagination">-->
<!--            <a class="page-item" th:if="${pagingVO.prev}"-->
<!--               th:href="@{/shop/list(main_category=${cri.main_category},sub_category=${cri.sub_category},page=${pagingVO.start-1},numPerPage=${cri.numPerPage},sort=${cri.sort},keyword=${cri.keyword})}">-->
<!--                <button class="page-link" >이전</button>-->
<!--            </a>-->
<!--            <th:block  th:with="start = ${pagingVO.start}, end = ${pagingVO.end}">-->
<!--                <a class="page-item"-->
<!--                   th:with="start = ${pagingVO.start}, end = ${pagingVO.end} "-->
<!--                   th:each="pageButton : ${#numbers.sequence(start, end)}"-->
<!--                   th:href="@{/shop/list(main_category=${cri.main_category},sub_category=${cri.sub_category},page=${pageButton},numPerPage=${cri.numPerPage},sort=${cri.sort},keyword=${cri.keyword})}">-->
<!--                    <button   th:text="${pageButton}"></button>-->
<!--                </a>-->
<!--            </th:block>-->
<!--            <a class="page-item" th:if="${pagingVO.next}"-->
<!--               th:href="@{/shop/list(main_category=${cri.main_category},sub_category=${cri.sub_category},page=${pagingVO.end+1},numPerPage=${cri.numPerPage},sort=${cri.sort},keyword=${cri.keyword})}">-->
<!--                <button class="page-link" >다음</button>-->
<!--            </a>-->
<!--        </div>-->

    </div>
</div>
<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
</body>
<script>
    let selectView = $('#selectView');

    function loadGetListBysearch(){
        let keyword  = $('#keyword').val();
        console.log("검색어 들어오나유?",keyword);
        $.getJSON("/rest/getListBySearch/"+keyword,function (data){
            console.log(data)
            let str = "";
            $(data).each(function (){
                console.log(this.pImage)
                // str +=	'<tr><td ><a href="/shop/read?pno='+this.pno+'"><img class="search_img" src=/display?fileName='+this.pimage+'></a></td>';
                // str +=	'<td style="vertical-align : bottom; font-size:15px;"><a  href="/shop/read?pno='+this.pno+'">'+this.pname+'</a>';
                // str +=   '<p style="font-size:7px">'+this.pprice+'원</p></td>';
                str += '<div class="search_result_div">'
                str +=	'<a href="/shop/read?pno='+this.pno+'"><img class="search_img" src=/display?fileName='+this.pimage+'></a><br>';
                str +=	'<br><a class="search_Name"  href="/shop/read?pno='+this.pno+'">'+this.pname+'</a>';
                str +=   '<span style="font-size:7px">'+this.pprice+'원</span>';
                str += '</div>'
                str += '<hr/>';
            })
            selectView.html(str);
        })

    }
    $("input[name='keyword']").keyup(function (){
        loadGetListBysearch();
    })
    $(document).ready(function (){


    })

</script>
<script src="/js/vendor/modernizr-2.8.3.min.js"></script>


</html>