<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- mypage head fragment -->
    <th:block th:replace="fragments/mypage/mypage_header :: head"></th:block>
    <title>mypage-main</title>
</head>
<body>
<!-- mypage header fragment -->
<th:block th:replace="fragments/mypage/mypage_header :: headerFragment"></th:block>
<!-- PAGE BANNER SECTION -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1 th:text="${memName}+'님'"></h1>
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">myPage</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <form class="searchForm" action="/shop/list" method="get">
        <input  type="text" id="keyword" name="keyword"   placeholder="검색어를 입력해주세요">
        <button id="findBtn">검색</button>
    </form>
</div>





<div class="page-section section pt-120 pb-120">
    <div class="container">

        <div class="row justify-content-between">
            <div class="cateName_div">
                <p class="aaa"></p>
            </div>
            <div class="isotope-product-filter col-auto" >
                <button class="active" data-filter="*">all</button>
                <button  th:data-filter="|.${cateName}|" th:each="cateName : ${UniqueCateName}" th:text="${cateName}"></button>

            </div>
            <!-- Product Filter Toggle -->
            <div class="col-auto">
                <button class="product-filter-toggle">filter</button>
            </div>
        </div>

        <!-- Product Filter Wrapper -->
        <div class="row">
            <div class="col-xs-12">
                <div class="product-filter-wrapper">
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>Sort by</h5>
                        <ul class="sort-by">
                            <li><a href="#">Default</a></li>
                            <li><a href="#">Popularity</a></li>
                            <li><a href="#">Average rating</a></li>
                            <li><a href="#">Newness</a></li>
                            <li><a href="#">Price: Low to High</a></li>
                            <li><a href="#">Price: High to Low</a></li>
                        </ul>
                    </div>
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>color filters</h5>
                        <ul class="color-filter">
                            <li><a href="#"><i style="background-color: #000000;"></i>Black</a></li>
                            <li><a href="#"><i style="background-color: #663300;"></i>Brown</a></li>
                            <li><a href="#"><i style="background-color: #FF6801;"></i>Orange</a></li>
                            <li><a href="#"><i style="background-color: #ff0000;"></i>red</a></li>
                            <li><a href="#"><i style="background-color: #FFEE00;"></i>Yellow</a></li>
                        </ul>
                    </div>
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>product tags</h5>
                        <div class="product-tags">
                            <a href="#">New</a>,
                            <a href="#">brand</a>,
                            <a href="#">black</a>,
                            <a href="#">white</a>,
                            <a href="#">chire</a>,
                            <a href="#">table</a>,
                            <a href="#">Lorem</a>,
                            <a href="#">ipsum</a>,
                            <a href="#">dolor</a>,
                            <a href="#">sit</a>,
                            <a href="#">amet</a>
                        </div>
                    </div>
                    <!-- Product Filter -->
                    <div class="product-filter col-md-3 col-sm-6 col-xs-12 mb-30">
                        <h5>Filter by price</h5>
                        <div id="price-range"></div>
                        <div class="price-values">
                            <span>Price:</span>
                            <input type="text" class="price-amount">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="isotope-grid row">


            <div class="isotope-item  col-xl-3 col-lg-4 col-md-6 col-12 mb-50" th:classappend="${dto.pCateName}" th:each="dto : ${list}">
                <div class="product-item product-item-2 text-center">
                    <!-- Product Image -->
                    <div class="product-img">
                        <!-- Image -->
                        <a class="image" th:href="@{/shop/read(pno=${dto?.pno},mno=2)}"><img th:src="|/display?fileName=${dto.pImage}|" alt=""></a>
                        <!-- Action Button -->
                        <div class="action-btn-2">
                            <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i></a>
                            <a href="#" data-bs-toggle="modal"  data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i></a>
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                    </div>
                    <!-- Portfolio Info -->
                    <div class="product-info">
                        <!-- Title -->
                        <h5 class="title"><a th:href="@{/shop/read(pno=${dto?.pno},mno=2)}">[[${dto?.pName}]]</a></h5>
                        <!-- Price -->
                        <div class="price-ratting fix">
                            <span class="price"><span class="new">€137.00</span><span class="old">[[${dto?.pPrice}]]원</span></span>
                        </div>
                        <div>
                            <span>평점 : [[${dto.pRating}]]([[${dto.pReviewCnt}]])</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-xs-12 mt-30">
                <a href="#" class="btn load-more-product">load more</a>
            </div>
        </div>
<!--        <div class="pagination">-->
<!--            <a class="page-item" th:if="${pagingVO.prev}"-->
<!--               th:href="@{/shop/list(main_category=${cri.main_category},sub_category=${cri.sub_category},page=${pagingVO.start-1},numPerPage=${cri.numPerPage},sort=${cri.sort},keyword=${cri.keyword})}">-->
<!--                <button class="page-link" >이전</button>-->
<!--            </a>-->
<!--            <th:block  th:with="start = ${pagingVO.start}, end = ${pagingVO.end}">-->
<!--                <a class="page-item"-->
<!--                   th:with="start = ${pagingVO.start}, end = ${pagingVO.end} "-->
<!--                   th:each="pageButton : ${#numbers.sequence(start, end)}"-->
<!--                   th:href="@{/shop/list(main_category=${cri.main_category},sub_category=${cri.sub_category},page=${pageButton},numPerPage=${cri.numPerPage},sort=${cri.sort},keyword=${cri.keyword})}">-->
<!--                    <button   th:text="${pageButton}"></button>-->
<!--                </a>-->
<!--            </th:block>-->
<!--            <a class="page-item" th:if="${pagingVO.next}"-->
<!--               th:href="@{/shop/list(main_category=${cri.main_category},sub_category=${cri.sub_category},page=${pagingVO.end+1},numPerPage=${cri.numPerPage},sort=${cri.sort},keyword=${cri.keyword})}">-->
<!--                <button class="page-link" >다음</button>-->
<!--            </a>-->
<!--        </div>-->
    </div>
</div>
<!-- mypage footer fragment -->
<th:block th:replace="fragments/mypage/mypage_footer :: footerFragment"></th:block>
</body>
<script>

    $(document).ready(function (){

    })

</script>
<script src="/js/vendor/modernizr-2.8.3.min.js"></script>

<!-- jQuery latest version -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Ajax Mail js -->
<script src="/js/ajax-mail.js"></script>
<!-- Main js -->
<script src="/js/main.js"></script>
</html>