<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
주문 완료 페이지 입니다.
<div class="delivery-info">
    <h5>배송지 정보</h5>

</div>
<hr>

<div class="consumer-info">
    <h5>구매자 정보</h5>
</div>
<hr>
<div class="product-info">
    <h5>주문번호</h5>
</div>
<hr>

<div class="payment-info">
    <h5>결제 정보</h5>
</div>

<form method="get" action="#">
    <button>쇼핑계속하기</button>
    <button>주문내역</button>
</form>
</body>
</html>