<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<style>
    .product_div_img{
        width: 100px;
        height: 100px;
    }
</style>
<body>
주문 완료 페이지 입니다.

<div class="ono_div">
    <h5>주문번호</h5>
     <p >주문번호 : [[${order.ono}]]</p>


</div>
<hr>
<div class="deliveryInfo_div">
    <h5>배송지 정보</h5>
   <p> 받는 사람 : [[${order.receiverName}]]</p>
    <p><span>받는 주소 : [[${order.postcode}]]&nbsp;</span><span>[[${order.address}]]&nbsp;</span><span>[[${order.detailAddress}]]</span></p>
    <p>배송 요청사항 : [[${order.message}]]</p>
</div>
<hr>
<h5>상품 정보</h5>
<div class="ProductInfo_div">
    <div class="Product_div" th:each="product : ${order.orders}">
        <img class="product_div_img" th:src="${product.pImageURL}">
        <p th:text="${product.pName}"></p>
        <p th:if="${product.pColor} != '없음'">색상 : [[${product.pColor}]]</p>
        <p th:if="${product.pOption} != '없음'">[[${product.pOptionName}]] : [[${product.pOption}]]</p>
        <p th:if="${product.pOption2} != '없음'">[[${product.pOptionName2}]] : [[${product.pOption2}]]</p>
        <p>[[${product.pPrice}]]원</p>
        <p >[[${product.iCount}]]개</p>
    </div>
</div>

<hr>
<!--[[${order}]]-->
<div class="paymentInfo_div">
    <h5>결제 정보</h5>
    <p>총 상품가격 : [[${order.orderSalePrice}]]원</p>
    <p>포인트 사용 : -[[${order.tUsePoint}]]원</p>
    <p>배송비 : +[[${order.tShipFee}]]원</p>
    <h3 style="color: red">총 결제 금액 : [[${order.tTotalPrice}]]원</h3>
</div>

<form class="orderForm" method="get" action="list">
<!--    <input type="hidden" name="mno" th:value="${order.mno}">-->
    <button class="gotoList">쇼핑계속하기</button>
    <button>주문내역</button>
</form>
</body>
<script>
    // $(document).ready(function (){
    //     $(".gotoList").click(function (e){
    //         e.preventDefault()
    //         $(".orderForm").attr("method","get");
    //         $(".orderForm").attr("action","/shop/list");
    //         $(".orderForm").submit();
    //     })
    // })
</script>
</html>