<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    img{
        width: 300px;
        height: 300px;

    }
    .product-item{
        display: inline-block;
        margin: 20px;
        border: 1px solid;
    }


</style>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<body>
    상품 상세페이지입니다.
<div class="product-detailed-box">

    <div class="product-outline">
        <img  th:src="${pvo.pImage}">
    </div>

    <div>
        <h3>[[${pvo.pName}]]</h3><br>

        <p>[[${pvo.pPrice}]]원</p><br>

<!--        상품 사이즈 표-->
<!--        <div th:if="${not #strings.isEmpty(pvo.p_size)}">-->
<!--            <div th:if="${not #strings.isEmpty(pvo.p_amount)}">-->
<!--                <div th:if="${pvo.p_maincategory.toString.equals('의류')}">-->
<!--            <button th:each="size : ${}">XXL</button>-->
<!--            <button>XL</button>-->
<!--            <button>L</button>-->
<!--            <button>M</button>-->
<!--            <button>S</button>-->
<!--            <button>XS</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->



<!--        수량-->
        <div>
            <form>
                수량 :
                <input type=number name=pAmount value=1 min="1" max="99">
            </form>
        </div>

        <form role="form" id="orderForm" action="/shop/orderSheet" method="get">
            <input type="hidden" name="pno" th:value="${pvo.pno}">
            <button>구매하기</button>
            <button>장바구니 담기</button>
        </form>

            <button id="detailBtn">상품 상세설명</button>
            <button id="reviewBtn">리뷰</button>
            <button id="deliInfoBtn">배송환불사항</button>

    </div>
    <div class="product-detailed">

    </div>


</div>

<script th:inline="javascript">
    $(document).ready(function (){

        let detaildiv = $(".product-detailed")

        let pno = [[${pvo.pno}]]


        function loadReviews(){
            $.getJSON("/rest/getreviews/" + pno,function (data){
                let str ="";
                console.log(data);
                $(data).each(function (){

                    str += "<div><h5>"+ this.rv_writer +"</h5>";
                    str += "<p>" + this.rv_content +"</p>";
                    str += "</div>";
                })
                detaildiv.html(str)
            })
        }

        function loadProductDetailed(){
            $.getJSON("/rest/getinfo/" + pno,function (data){
                let str ="";
                $(data).each(function (){
                    str += "<div><h5>" + this.pinformation +"</h5>"
                    str += "<p>" + this.pcolor +"</p>";
                    str += "</div>"
                })
                detaildiv.html(str)
            })
        }

        function loadDeliDetailed(){
            $.getJSON("/rest/getinfo/" + pno,function (data){
                let str ="";
                $(data).each(function (){
                    str += "<div><h5>" + this.pdelivery +"</h5>"
                    str += "<p>" + "배송비 백만원 싫으면 직접가져가" +"</p>";
                    str += "</div>"
                })
                detaildiv.html(str)
            })
        }


        $("#reviewBtn").click(function (){

            loadReviews();
        })
        $("#detailBtn").click(function (){

            loadProductDetailed();
        })
        $("#deliInfoBtn").click(function (){

            loadDeliDetailed();
        })






    })
</script>
</body>
</html>