<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    img{
        width: 300px;
        height: 300px;

    }
    .product-item{
        display: inline-block;
        margin: 20px;
        border: 1px solid;
    }


</style>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<body>
    상품 상세페이지입니다.
<div class="product-detailed-box">

</div>
    <div class="product-outline">
        <img  th:src="${pvo.pImage}">
    </div>

    <div>
        <h3>[[${pvo.pName}]]</h3><br>

        <p>[[${pvo.pPrice}]]원</p><br>





<!--    상품 사이즈-->
        <div th:each="size : ${sizes}">
            <button th:name="${size.pSize}" th:text="${size.pSize}"  ></button>
        </div>

        <div th:each="color : ${colors}">
            <button th:name="${color.pSize}" th:text="${color.pColor}"></button>
        </div>
<!--        수량-->
        <div>
            <form>
                수량 :
                <input type=number name=pAmount value=1 min="1" max="99">
            </form>
        </div>

        <form role="form" id="orderForm" action="/shop/orderSheet" method="get">
            <input type="hidden" name="pno" th:value="${pvo.pno}">
            <button>구매하기</button>
            <button>장바구니 담기</button>
        </form>

            <button id="detailBtn">상품 상세설명</button>
            <button id="reviewBtn">리뷰([[${pvo.pReviewCnt}]])</button>
            <button id="deliInfoBtn">배송환불사항</button>

    </div>
    <div class="review_not_div">

    </div>
   <div class="review_div">

   </div>
    <div class="review_pageInfo_div">
        <ul class="pageMaker">

        </ul>
    </div>

    <div class="product-detailInfo">

    </div>
    <div class="product-deleveryInfo">

    </div>




<script th:inline="javascript">
    $(document).ready(function (){

        let detailInfo = $(".product-detailInfo")
        let deleveryInfo = $(".product-deleveryInfo")
       let review_div = $(".review_div")
        let pagingdiv = $(".review_pageInfo_div")
        let review_not_div = $(".review_not_div")
        let pageMaker = $(".pageMaker")
        let pno = [[${pvo.pno}]]
        let reviewCnt = [[${pvo.pReviewCnt}]]

        //리뷰 불러오기
        function loadReviews(){
            $.getJSON("/rest/getreviews" ,{pno:pno},function (data){

                makeReplyContent(data)
            })//getJson
        }//loadreview


        const cri = {
            pno : [[${pvo.pno}]],
            page : 1,
            numperPage : 10
        }
        //리뷰 초기화
        let replyListInit = function(cri){
            $.getJSON("/rest/getreviews",cri,function (data){
                makeReplyContent(data)
            })
        }

        /* 리뷰 동적 생성 메서드 */
        function makeReplyContent(data){

            if(data.list.size === 0){

                review_not_div.html('<span>리뷰가 없습니다.</span>');
                review_div.html('');
                detailInfo.html('')
                deleveryInfo.html('');
                pageMaker.html('');
            }
            else {

                review_not_div.html('');
                detailInfo.html('')
                deleveryInfo.html('');
                const list = data.list;
                const pageInfo = data.pageInfo;
                // const userId = '${member.memberId}';
                let str ="";
                $(list).each(function (i,obj){
                    str += '<li>';
                    str += '<div class="comment_wrap">';
                    str += '<div class="reply_top">';
                    /* 아이디 */
                    str += '<p class="id_span">회원'+ obj.mno+'</p>';
                    /* 날짜 */
                    str += '<p class="date_span">'+ displayTime(obj.rregDate) +'</p>';
                    /* 평점 */
                    str += '<span class="rating_span">평점 : <span class="rating_value_span">'+ obj.rrating +'</span>점</span>';
                    // if(obj.mno === userId){
                    //     str += '<a class="update_reply_btn" href="'+ obj.replyId +'">수정</a><a class="delete_reply_btn" href="'+ obj.replyId +'">삭제</a>';
                    // }
                    str += '</div>'; //<div class="reply_top">
                    str += '<div class="reply_bottom">';
                    str += '<div class="reply_bottom_txt">'+ obj.rcontent +'</div>';
                    str += '</div>';//<div class="reply_bottom">
                    str += '</div>';//<div class="comment_wrap">
                    str += '</li>';
                });
                review_div.html(str)
                let review_pageMaker = '';
                console.log(pageInfo)
                /* prev */
                if(pageInfo.prev){
                    let prev_num = pageInfo.start -1;
                    review_pageMaker += '<li class="pageMaker_btn prev">';
                    review_pageMaker += '<a href="'+ prev_num +'">이전</a>';
                    review_pageMaker += '</li>';
                }
                /* numbre btn */
                for(let i = pageInfo.start; i < pageInfo.end+1; i++){
                    review_pageMaker += '<li class="pageMaker_btn ';
                    if(pageInfo.cri.page === i){
                        review_pageMaker += 'active';
                    }
                    review_pageMaker += '">';
                    review_pageMaker += '<a href="'+i+'">'+i+'</a>';
                    review_pageMaker += '</li>';
                }
                /* next */
                if(pageInfo.next){
                    let next_num = pageInfo.end +1;
                    review_pageMaker += '<li class="pageMaker_btn next">';
                    review_pageMaker += '<a href="'+ next_num +'">다음</a>';
                    review_pageMaker += '</li>';
                }

                pageMaker.html(review_pageMaker)
            }
        }
        //페이지 이동
        $(".pageMaker").on("click",'.pageMaker_btn a',function (e){
            e.preventDefault();
            let page = $(this).attr("href")
            cri.page = page;
            replyListInit(cri);
        })
        const displayTime = (timeValue) => {
            var today = new Date();
            var gap = today.getTime() - timeValue; // 오늘날짜에서 시간만 얻어옴 그래서 뺌
            var dateObj = new Date(timeValue); // 댓글단 날짜 구함
            console.log(dateObj)
            var str = "";
            //숫자 1자리는 자리수 맞추기 위해 3항 연산자로 0을 추가함 9=>09,11=>11
            if (gap < 1000 * 60 * 60 * 24) {
                //24시간이 안 지난 댓글은 시간 분,초 로 표시, 1000 ms + 60분 + 60초 + 24시간
                var hh = dateObj.getHours();
                var mi = dateObj.getMinutes();
                var ss = dateObj.getSeconds();
                var result = [
                    (hh > 9 ? "" : "0") + hh, ":",
                    (mi > 9 ? "" : "0") + mi, ":",
                    (ss > 9 ? "" : "0") + ss
                ].join(""); //배열의 요소를 공백으로 문자열 결합
                console.log("시간 : ", result);
                return result;
            } else {
                var yy = dateObj.getFullYear();
                var mm = dateObj.getMonth() + 1; //월은 0부터 시작하므로 1을 더함
                var dd = dateObj.getDate();
                var result = [
                    yy,
                    "/",
                    (mm > 9 ? "" : "0") + mm,
                    "/",
                    (dd > 9 ? "" : "0") + dd
                ].join("");
                console.log("시간 : ", result);
                return result;
            }
        };

        function loadProductDetailed(){
            $.getJSON("/rest/getinfo/" + pno,function (data){
                let str ="";
                $(data).each(function (){
                    str += "<div><h5>" + this.pinformation +"</h5>"
                    str += "<p>" + this.pcolor +"</p>";
                    str += "</div>"
                })
                detailInfo.html(str)
                review_not_div.html('');
                review_div.html('');
                deleveryInfo.html('');
                pageMaker.html('');
            })
        }

        function loadDeliDetailed(){
            $.getJSON("/rest/getinfo/" + pno,function (data){
                let str ="";
                $(data).each(function (){
                    str += "<div><h5>" + this.pdelivery +"</h5>"
                    str += "<p>" + "배송비 백만원 싫으면 직접가져가" +"</p>";
                    str += "</div>"
                })
                deleveryInfo.html(str);
                detailInfo.html('')
                review_not_div.html('');
                review_div.html('');
                pageMaker.html('');
            })
        }

        $("#reviewBtn").click(function (){

            loadReviews();
        })
        $("#detailBtn").click(function (){

            loadProductDetailed();
        })
        $("#deliInfoBtn").click(function (){

            loadDeliDetailed();
        })






    })
</script>
</body>
</html>