<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    img{
        width: 300px;
        height: 300px;

    }
    .product-item{
        display: inline-block;
        margin: 20px;
        border: 1px solid;
    }


</style>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<body>
    상품 상세페이지입니다.
<div class="product-detailed-box">

</div>
    <div class="product-outline">

    </div>

    <div>
        <h3>[[${pvo.pName}]]</h3><br>

        <p>[[${pvo.pPrice}]]원</p><br>

<!--    상품 옵션-->
        <div th:if="${pList.size() != 0 }">
            <div class="product_option_div">
                <div th:if="${colors.get(0).pColor} != '없음'">
                    <p>색상</p>
                    <div class="color_div"  >
                        <button th:class="colorBtn"
                                th:each="color,userStat : ${colors}"  th:text="${color.pColor}" th:value="${color.pColor}"  ></button>
                    </div>
                </div>
                <hr>
                <div th:if="${options.get(0).pOption} != '없음'">
                    <p> [[${options.get(0).pOptName}]]</p>
                    <div class="option_div" >
                        <button th:class="|optBtn ${userStat.index}|"
                                th:each="opt,userStat : ${options}" th:text="${opt.pOption}" th:value="${opt.pOption}">[[${opt.pOption}]]</button>
                    </div>
                </div>
                <hr>
                <div th:if="${options2.get(0).pOption2} != '없음'">
                    <p> [[${options2.get(0).pOptName2}]]</p>
                    <div class="option2_div" >
                        <button th:class="|optBtn2 ${userStat.index}|"
                                th:each="opt,userStat : ${options2}" th:text="${opt.pOption2}" th:value="${opt.pOption2}">[[${opt.pOption2}]]</button>
                    </div>
                </div>

            </div>
        </div>
<!--        수량-->
        <div>
            <form>
                수량 :
                <input id="amountBox" type=number name=pAmount value="1" min="1" max="99">
            </form>
        </div>

        <form th:action="@{/order/${member.id}}"  method="get" class="order_form">
            <input type="hidden" name="orders[0].pno" th:value="${pvo.pno}">
            <input type="text" name="orders[0].pColor" value="">
            <input type="text" name="orders[0].pOption" value="">
            <input type="text" name="orders[0].pOption2" value="">
            <input type="hidden" name="orders[0].itemCount" value="">
        </form>

        <button class="btn_buy">구매하기</button>
            <button id="detailBtn">상품 상세설명</button>
            <button id="reviewBtn">리뷰([[${pvo.pReviewCnt}]])</button>
            <button id="deliInfoBtn">배송환불사항</button>

    </div>
    <div class="review_not_div">

    </div>
    <div class="review-header">

    </div>
   <div class="review_div">

   </div>
    <div class="review_pageInfo_div">
        <ul class="pageMaker">

        </ul>
    </div>

    <div class="product-detailInfo">

    </div>
    <div class="product-deleveryInfo">

    </div>


    <img id="testImg"  th:src="${pvo.pImageURL}">

<script th:inline="javascript">




    $(document).ready(function (){
        $(".color_div").on("click",".colorBtn",function (){
            let color =$(this).val();
            $("input[name='orders[0].pOption']").val('');
            let option =$("input[name='orders[0].pOption']").val();
            let pno = $("input[name='orders[0].pno']").val()
            console.log(option)
            opt = {
                'pno' : pno,
                'color' : color,
                'option' : option,
            }
            loadOpt(opt)
            loadOpt2(opt)
            $("input[name='orders[0].pColor']").val(color)

        })
        $(".option_div").on("click",".optBtn",function (){
            console.log(this)
            let color =$("input[name='orders[0].pColor']").val()
            let option =$(this).val();
            let pno = $("input[name='orders[0].pno']").val()
            console.log(option)
            opt = {
                'pno' : pno,
                'color' : color,
                'option' : option,
            }
            loadOpt2(opt)
            $("input[name='orders[0].pOption']").val(option)
        })
        $(".option2_div").on("click",".optBtn2",function (){
            let val =$(this).text()
            $("input[name='orders[0].pOption2']").val(val)

        })





        function loadOpt(opt){

            option = {
                'pno' : opt.pno,
                'pColor':opt.color,
                'pOption':opt.option,
            }
            $.ajax({
                type: "get",
                url: "/rest/getOptions",
                data: option,
                contentType: "application/json;charset=UTF-8",
                success: (result) => {
                    console.log(result)
                    showOptions(result)
                },
            });
        }
        function loadOpt2(opt){

            option = {
                'pno' : opt.pno,
                'pColor':opt.color,
                'pOption':opt.option,
            }
            $.ajax({
                type: "get",
                url: "/rest/getOptions",
                data: option,
                contentType: "application/json;charset=UTF-8",
                success: (result) => {
                    showOptions2(result)
                },
            });
        }
        // function loadColor(opt){
        //
        //     option = {
        //         'pno' : opt.pno,
        //         'pColor':opt.color,
        //         'pOption':opt.option,
        //
        //     }
        //     $.ajax({
        //         type: "get",
        //         url: "/rest/getOptions",
        //         data: option,
        //         contentType: "application/json;charset=UTF-8",
        //         success: (result) => {
        //             showColors(result)
        //         },
        //     });
        // }
        function showOptions(result){
            let str = "";
            let list =result[0]
            $(list).each(function (index,obj){
                console.log("showOptions",obj)
                str += "<button class='optBtn' value=" +obj +">" + obj + "</button>"
            })
            $("input[name='orders[0].pOption']").val('')
            $("input[name='orders[0].pOption2']").val('')
            $(".option_div").html(str)
        }
        function showOptions2(result){
            let str = "";
            let list =result[1]
            $(list).each(function (index,obj){
                console.log("showOptions2",obj)

                str += "<button class='optBtn2' value=" +obj+">" + obj + "</button>"

            })
            $("input[name='orders[0].pOption2']").val('')

            $(".option2_div").html(str)
        }
        // function showColors(result){
        //     let str = "";
        //     let list =result
        //     $(list).each(function (index,obj){
        //         console.log(obj)
        //         //str += "<div class='color_div'>";
        //         str += "<button class='colorBtn' value=" +obj.pcolor +">" + obj.pcolor + "</button>"
        //         //str += "</div>"
        //     })
        //     $("input[name='orders[0].pColor']").val('')
        //     $(".color_div").html('')
        //     $(".color_div").html(str)
        // }






        /* 바로구매 버튼 */
        $(".btn_buy").on("click", function(){
            let itemCount = $("#amountBox").val();
            // let pSize = $(".size_option").val();
            // let pColor = $("option[name='color_option']").val();
            // console.log(pSize)
            // console.log(pColor)
            let id = [[${member.id}]]
            $(".order_form").find("input[name='orders[0].itemCount']").val(itemCount);
            // $(".order_form").find("input[name='orders[0].pColor']").val(pColor);

            $(".order_form").attr("action","/order/"+id)
            $(".order_form").submit();



        });

        let detailInfo = $(".product-detailInfo")
        let deleveryInfo = $(".product-deleveryInfo")
       let review_div = $(".review_div")
        let pagingdiv = $(".review_pageInfo_div")
        let review_not_div = $(".review_not_div")
        let pageMaker = $(".pageMaker")
        let pno = [[${pvo.pno}]]
        let reviewCnt = [[${pvo.pReviewCnt}]]
        let reviewHeader = $(".review-header");
        //리뷰 불러오기
        function loadReviews(){
            $.getJSON("/rest/getreviews" ,{pno:pno},function (data){

                makeReviewContent(data)
            })//getJson
        }//loadreview


        const cri = {
            pno : [[${pvo.pno}]],
            page : 1,
            numperPage : 10,
            sort : ''
        }
        //리뷰 초기화
        let reviewListInit = function(cri){
            $.getJSON("/rest/getreviews",cri,function (data){
                makeReviewContent(data)
            })
        }

        /* 리뷰 동적 생성 메서드 */
        function makeReviewContent(data){

            if(data.list.length === 0){

                review_not_div.html('<span>리뷰가 없습니다.</span>');
                reviewHeader.html('')
                review_div.html('');
                detailInfo.html('')
                deleveryInfo.html('');
                pageMaker.html('');
            }
            else {

                review_not_div.html('');
                detailInfo.html('')
                deleveryInfo.html('');
                const list = data.list;
                const pageInfo = data.pageInfo;
                // const userId = '${member.memberId}';
                let str ="";
                $(list).each(function (i,obj){
                    str += '<li>';
                    str += '<div class="comment_wrap">';
                    str += '<div class="reply_top">';
                    /* 아이디 */
                    str += '<p class="id_span">회원'+ obj.mno+'</p>';
                    /* 날짜 */
                    str += '<p class="date_span">'+formatTime(obj.rregDate) +'</p>';
                    /* 평점 */
                    str += '<span class="rating_span">평점 : <span class="rating_value_span">'+ obj.rrating +'</span>점</span>';
                    // if(obj.mno === userId){
                    //     str += '<a class="update_reply_btn" href="'+ obj.replyId +'">수정</a><a class="delete_reply_btn" href="'+ obj.replyId +'">삭제</a>';
                    // }
                    str += '</div>'; //<div class="reply_top">
                    str += '<div class="reply_bottom">';
                    str += '<div class="reply_bottom_txt">'+ obj.rcontent +'</div>';
                    str +='<button type="button" class="btn btn-primary" > 추천</button>';
                    str += '</div>';//<div class="reply_bottom">
                    str += '</div>';//<div class="comment_wrap">
                    str += '</li>';
                });
                review_div.html(str)

                let review_pageMaker = '';
                console.log(pageInfo)
                /* prev */
                if(pageInfo.prev){
                    let prev_num = pageInfo.start -1;
                    review_pageMaker += '<li class="pageMaker_btn prev">';
                    review_pageMaker += '<a href="'+ prev_num +'">이전</a>';
                    review_pageMaker += '</li>';
                }
                /* numbre btn */
                for(let i = pageInfo.start; i < pageInfo.end+1; i++){
                    review_pageMaker += '<li class="pageMaker_btn ';
                    if(pageInfo.cri.page === i){
                        review_pageMaker += 'active';
                    }
                    review_pageMaker += '">';
                    review_pageMaker += '<a href="'+i+'">'+i+'</a>';
                    review_pageMaker += '</li>';
                }
                /* next */
                if(pageInfo.next){
                    let next_num = pageInfo.end +1;
                    review_pageMaker += '<li class="pageMaker_btn next">';
                    review_pageMaker += '<a href="'+ next_num +'">다음</a>';
                    review_pageMaker += '</li>';
                }

                reviewhead = "";
                reviewhead += "<div class='review-sortContainer'><p> [[${pvo.pRating}]]([[${pvo.pReviewCnt}]])</p>"
                reviewhead  += "<a href='new'>최신리뷰순</a>&nbsp"
                reviewhead  += "<a href='best'>베스트순</a>&nbsp"
                reviewhead  += "<a href='ratingdesc'>평점높은순</a>&nbsp"
                reviewhead  += "<a href='ratingasc'>평점낮은순</a>&nbsp"
                reviewhead  += "</div>"
                reviewHeader.html(reviewhead)
                pageMaker.html(review_pageMaker)


            }
        }
        //페이지 이동
        $(".pageMaker").on("click",'.pageMaker_btn a',function (e){
            e.preventDefault();
            let page = $(this).attr("href")
            cri.page = page;
            reviewListInit(cri);
        })
        //댓글 정렬
        $(".review-header").on("click",".review-sortContainer a",function (e){
            e.preventDefault();
            let sort = $(this).attr("href")
            cri.sort = sort;
            reviewListInit(cri)
        })
        $(".review_div").on("click",".btn-primary",function (e){
            e.preventDefault();

            commentLike(0,82,82);
        })
        function commentLike(pno,rno,mno){
            $.ajax({
                type : "POST",
                url : "/rest/commentLike",
                dataType : "json",
                data : {'pno' : pno ,'rno' : rno, 'mno' : mno },
                headers:{
                    "Content-Type" : "application/json",
                    "X-HTTP-Method-Override" : "POST"
                },
                error : function(){
                    alert("통신 에러");
                },
                success : function(likeCheck) {

                    if(likeCheck == 0){
                        alert("추천완료.");
                        // commentList();
                    }
                    else if (likeCheck == 1){
                        alert("추천취소");
                        // commentList();


                    }
                }
            });
        }
        function formatTime(str){
            var date = new Date();
            return date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate()+' '+date.getHours()+':'+date.getMinutes();
        }
        const displayTime = (timeValue) => {
            var today = new Date();
            var gap = today.getTime() - timeValue; // 오늘날짜에서 시간만 얻어옴 그래서 뺌
            var dateObj = new Date(timeValue); // 댓글단 날짜 구함
            console.log(dateObj)
            var str = "";
            //숫자 1자리는 자리수 맞추기 위해 3항 연산자로 0을 추가함 9=>09,11=>11
            if (gap < 1000 * 60 * 60 * 24) {
                //24시간이 안 지난 댓글은 시간 분,초 로 표시, 1000 ms + 60분 + 60초 + 24시간
                var hh = dateObj.getHours();
                var mi = dateObj.getMinutes();
                var ss = dateObj.getSeconds();
                var result = [
                    (hh > 9 ? "" : "0") + hh, ":",
                    (mi > 9 ? "" : "0") + mi, ":",
                    (ss > 9 ? "" : "0") + ss
                ].join(""); //배열의 요소를 공백으로 문자열 결합
                console.log("시간 : ", result);
                return result;
            } else {
                var yy = dateObj.getFullYear();
                var mm = dateObj.getMonth() + 1; //월은 0부터 시작하므로 1을 더함
                var dd = dateObj.getDate();
                var result = [
                    yy,
                    "/",
                    (mm > 9 ? "" : "0") + mm,
                    "/",
                    (dd > 9 ? "" : "0") + dd
                ].join("");
                console.log("시간 : ", result);
                return result;
            }
        };

        function loadProductDetailed(){
            $.getJSON("/rest/getinfo/" + pno,function (data){
                let str ="";
                $(data).each(function (){
                    str += "<div><h5>" + this.pinformation +"</h5>"
                    str += "<p>" + this.pcolor +"</p>";
                    str += "</div>"
                })
                detailInfo.html(str)
                reviewHeader.html('')
                review_not_div.html('');
                review_div.html('');
                deleveryInfo.html('');
                pageMaker.html('');
            })
        }

        function loadDeliDetailed(){
            $.getJSON("/rest/getinfo/" + pno,function (data){
                let str ="";
                $(data).each(function (){
                    str += "<div><h5>" + this.pdelivery +"</h5>"
                    str += "<p>" + "배송비 백만원 싫으면 직접가져가" +"</p>";
                    str += "</div>"
                })
                deleveryInfo.html(str);
                reviewHeader.html('')
                detailInfo.html('')
                review_not_div.html('');
                review_div.html('');
                pageMaker.html('');
            })
        }





        $(".color_div").each(function (){
            let color = $(this).find(".colorBtn").text();
            $(this).find(".colorBtn").css("color",color)

        })


        $("#reviewBtn").click(function (){

            loadReviews();
        })
        $("#detailBtn").click(function (){

            loadProductDetailed();
        })
        $("#deliInfoBtn").click(function (){

            loadDeliDetailed();
        })






    })
</script>
</body>
</html>